{% extends 'index.html' %}
{% load static %}
{% block head %}
<style>
  .modal-content{
    margin-left:50px;
  }
</style>
{% endblock %}
{% block heading %}
  <span class="tab-title"><span class="px-1">Exam  Type Master</span></span>
{% endblock %}
{% block body %}
  <div class="d-flex justify-content-end">
    <a data-bs-toggle="modal" data-bs-target="#add_examtype" class="btn btn-primary mx-2 mb-3">Add Exam Type</a>
 
    <div id="add_examtype" class="modal">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">

          <div class="modal-body">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title fw-semibold mb-4">Add Exam Type</h5>
              <div class="card">
                <div class="card-body">
                  <form>
                    <div class="row">

   
                      <div class="mb-3 col-lg-6">
                        <label for="papertype" class="form-label">Exam Type<span class="text-danger">*</span> </label>
                        <input type="text" class="form-control" id="papertype" placeholder="Please enter marks" aria-describedby="papertype_error" oninput="this.value = this.value.replace(/[^a-zA-Z ]+/g,'').replace(/(\..*)\./g, '$1');"/>
                        <div id="papertype_error" class="form-text error_message"></div>
                      </div>

                    </div>

                    <div class="row">
                      <div class="d-flex justify-content-center">
                        <a onclick="validate_add_paper_type_form();" class="btn btn-primary">Submit</a>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
              
              <table id="example" class="table table-striped table-bordered" style="width:100%">
                <thead>
                  <tr>
                    <th>Sr No</th>
                    <th>Exam Type</th>
                    <th>Action</th>
                  </tr>
                </thead>
                <tbody>       
                   {% for i  in exam_types %}
                  <tr>
                    <td>{{forloop.counter}}</td>
                    <td>{{i.TypeName}}</td>
          
                    <td>

          
          
                      <a data-bs-toggle="tooltip" onclick="delete_papertype({{i.id}});" title="Delete exam type"><i class="fa-solid fa-trash-can text-danger mx-1"></i></a>
                    </td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>



            </div>


          </div>
          </div>
        </div>
      </div>
    </div> 


    <a data-bs-toggle="modal" data-bs-target="#add_exammarks" class="btn btn-primary mb-3">Add Exam Marks</a>
 
    <div id="add_exammarks" class="modal">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">

          <div class="modal-body">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title fw-semibold mb-4">Add Exam Marks</h5>
              <div class="card">
                <div class="card-body">
                  <form>
                    <div class="row">

                      <div class="mb-3 col-lg-6">
                        <label for="examtype_name" class="form-label">Exam Type  <span class="text-danger">*</span> </label>
                        
                        <select id="examtype_name" class="form-select select2" aria-describedby="examtype_name_error">

                          <option value="" selected> Please Select Exam Type</option>
                          {% for exam_type in exam_types %}
        
                            <option value="{{exam_type.id}}"> {{exam_type.TypeName}}</option>
                          {% endfor %}
        
                        </select>
                        
                        <div id="examtype_name_error" class="form-text error_message mt-3"></div>
                      </div>
                      <div class="mb-3 col-lg-6">
                        <label for="totalmarks" class="form-label">Total marks <span class="text-danger">*</span> </label>
                        <input type="text" class="form-control" id="totalmarks" placeholder="Please enter marks" aria-describedby="totalmarks_error" oninput="this.value = this.value.replace(/[^0-9 ]+/g,'').replace(/(\..*)\./g, '$1');"/>
                        <div id="totalmarks_error" class="form-text error_message"></div>
                      </div>
                      <div class="mb-3 col-lg-6">
                        <label for="passingmarks" class="form-label">Passing marks <span class="text-danger">*</span> </label>
                        <input type="text" class="form-control" id="passingmarks" placeholder="Please enter marks" aria-describedby="passingmarks_error" oninput="this.value = this.value.replace(/[^0-9 ]+/g,'').replace(/(\..*)\./g, '$1');"/>
                        <div id="passingmarks_error" class="form-text error_message"></div>
                      </div>
                    </div>

                    <div class="row">
                      <div class="d-flex justify-content-center">
                        <a onclick="validate_add_form();" class="btn btn-primary">Submit</a>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
          </div>
        </div>
      </div>
    </div> 

  </div>
  <div class="row">
    <table id="example" class="table table-striped table-bordered" style="width:100%">
      <thead>
        <tr>
          <th>Sr No</th>
          <th>Exam Type</th>
          <th>Total Marks</th>
          <th>Passing Marks</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>       
         {% for i  in exam_type_marks %}
        <tr>
          <td>{{forloop.counter}}</td>
          <td>{{i.Typeid}}</td>
          <td>{{i.Marks}}</td>
          <td>{{i.passingmarks}}</td>

          <td>
            <a data-bs-toggle="modal" data-bs-target="#edit_exammarks{{i.id}}"  ><i data-bs-toggle="tooltip"  title="Edit examtype" class="fa-solid fa-pen-to-square mx-1"></i></a>

            <div id="edit_exammarks{{i.id}}" class="modal">
              <div class="modal-dialog modal-lg">
                <div class="modal-content">
        
                  <div class="modal-body">
                  <div class="card">
                    <div class="card-body">
                      <h5 class="card-title fw-semibold mb-4">Edit Exam Marks </h5>
                      <div class="card">
                        <div class="card-body">
                          <form>
                            <div class="row">
        
        
        
        
        
             
        
        
        
                              <div class="mb-3 col-lg-6">
                                <label for="examtype_name{{i.id}}" class="form-label">Exam Type Name <span class="text-danger">*</span> </label>
                                <select id="examtype_name{{i.id}}" class="form-select select2" aria-describedby="examtype_name_error{{i.id}}">

                                  <option value="" selected> Please Select Exam Type</option>
                                  {% for exam_type in exam_types %}
                                    {% if exam_type.id == i.Type_id %}
                                      <option value="{{exam_type.id}}" selected> {{exam_type.TypeName}}</option>
                                      {%else%}
                                      <option value="{{exam_type.id}}"> {{exam_type.TypeName}}</option>

                                    {% endif %}
                                  {% endfor %}
                
                                </select>

                                <div id="examtype_name_error{{i.id}}" class="form-text error_message"></div>
                              </div>
                              <div class="mb-3 col-lg-6">
                                <label for="totalmarks{{i.id}}" class="form-label">Total Marks <span class="text-danger">*</span> </label>
                                <input type="text" class="form-control" id="totalmarks{{i.id}}" value="{{i.Marks}}" placeholder="Please enter class name" aria-describedby="totalmarks_error{{i.id}}" oninput="this.value = this.value.replace(/[^0-9 ]+/g,'').replace(/(\..*)\./g, '$1');"/>
                                <div id="totalmarks_error{{i.id}}" class="form-text error_message"></div>
                              </div>
                              <div class="mb-3 col-lg-6">
                                <label for="passingmarks{{i.id}}" class="form-label">Passing marks <span class="text-danger">*</span> </label>
                                <input type="text" class="form-control" id="passingmarks{{i.id}}" value="{{i.passingmarks}}" placeholder="Please enter marks" aria-describedby="passingmarks_error{{i.id}}" oninput="this.value = this.value.replace(/[^0-9 ]+/g,'').replace(/(\..*)\./g, '$1');"/>
                                <div id="passingmarks_error{{i.id}}" class="form-text error_message"></div>
                              </div>

                            </div>
        
                            <div class="row">
                              <div class="d-flex justify-content-center">
                                <a onclick="validate_edit_form('{{i.id}}');" class="btn btn-primary">Submit</a>
                              </div>
                            </div>
                          </form>
                        </div>
                      </div>
                    </div>
                  </div>
                  </div>
                </div>
              </div>
            </div>


            <a data-bs-toggle="tooltip" onclick="delete_examtype({{i.id}});" title="Delete exam type marks"><i class="fa-solid fa-trash-can text-danger mx-1"></i></a>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
{% endblock %}

{% block script %}
  <script>
    $(document).ready(function () {


      new DataTable('#example');

    })
    function validate_add_form(){
      debugger
      var examtype_name=$('#examtype_name').val()
      var totalmarks=$('#totalmarks').val()
      var passingmarks=$('#passingmarks').val()

      if(IsValid(examtype_name)){
        $('#examtype_name').html();
        $('#examtype_name_error').show().delay(3000).slideUp();
        $('#examtype_name_error').html('Please select exam type ');
        $('#examtype_name').focus();
        return false;
      }      
      if(IsValid(totalmarks)){
        $('#totalmarks').html();
        $('#totalmarks_error').show().delay(3000).slideUp();
        $('#totalmarks_error').html('Please enter total marks');
        $('#totalmarks').focus();
        return false;
      }
      if(IsValid(passingmarks)){
        $('#passingmarks').html();
        $('#passingmarks_error').show().delay(3000).slideUp();
        $('#passingmarks_error').html('Please enter passing marks');
        $('#passingmarks').focus();
        return false;
      }
      if(parseInt(passingmarks)>=parseInt(totalmarks)){
        $('#passingmarks').html();
        $('#passingmarks_error').show().delay(3000).slideUp();
        $('#passingmarks_error').html('passing marks must be less than total marks');
        $('#passingmarks').focus();
        return false;
      }
      else{


        var fd = new FormData();    
        fd.append("Typeid",examtype_name);
        fd.append("Marks",totalmarks);
        fd.append("passingmarks",passingmarks);
        fd.append("csrfmiddlewaretoken","{{csrf_token}}");
        $.ajax({
          type: "POST",
          url: frontend_url+"exam/add_exam_type_marks",
          data: fd,
          processData: false,
          contentType: false,
          
          success: function(response) {
            if(response.response.n ==1){
              Swal.fire({
                text: response.response.msg,
                icon: 'success',
              }).then((result) => {
                window.location.href = "/exam/exam_type";
        
              });
            }else{
              Swal.fire({
                text: response.response.msg,
                icon: 'error',
              })
            }

      
          },
        });



      }
    }
    function validate_edit_form(id){
      debugger
      var examtype_name=$('#examtype_name'+id).val()
      var totalmarks=$('#totalmarks'+id).val()
      var passingmarks=$('#passingmarks'+id).val()

      if(IsValid(examtype_name)){
        $('#examtype_name'+id).html();
        $('#examtype_name_error'+id).show().delay(3000).slideUp();
        $('#examtype_name_error'+id).html('Please select exam type ');
        $('#examtype_name'+id).focus();
        return false;
      }
      if(IsValid(totalmarks)){
        $('#totalmarks'+id).html();
        $('#totalmarks_error'+id).show().delay(3000).slideUp();
        $('#totalmarks_error'+id).html('Please enter total marks');
        $('#totalmarks'+id).focus();
        return false;
      }
      if(IsValid(passingmarks)){
        $('#passingmarks'+id).html();
        $('#passingmarks_error'+id).show().delay(3000).slideUp();
        $('#passingmarks_error'+id).html('Please enter passing marks');
        $('#passingmarks'+id).focus();
        return false;
      }if(parseInt(passingmarks)>=parseInt(totalmarks)){
        $('#passingmarks'+id).html();
        $('#passingmarks_error'+id).show().delay(3000).slideUp();
        $('#passingmarks_error'+id).html('passing marks must be less than total marks');
        $('#passingmarks'+id).focus();
        return false;
      }
      else{
        var fd = new FormData();    
        fd.append("Typeid",examtype_name);
        fd.append("Marks",totalmarks);
        fd.append("passingmarks",passingmarks);
        fd.append("id",id);
        fd.append("csrfmiddlewaretoken","{{csrf_token}}");
        $.ajax({
          type: "POST",
          url: frontend_url+"exam/edit_exam_type_marks",
          data: fd,
          processData: false,
          contentType: false,
          
          success: function(response) {
            console.log("edit",response)
            if(response.response.n ==1){
              Swal.fire({
                text: response.response.msg,
                icon: 'success',
              }).then((result) => {
                window.location.href = "/exam/exam_type";
        
              });
            }else{
              Swal.fire({
                text: response.response.msg,
                icon: 'error',
              })
            }

      
          },
        });
      }
    }

    function delete_examtype(id){
      Swal.fire({
        title: "Are you sure?",
        text: "You won't be able to revert this!",
        icon: "warning",
        showCancelButton: true,
        confirmButtonColor: "#3085d6",
        cancelButtonColor: "#d33",
        confirmButtonText: "Yes, delete it!"
      }).then((result) => {
        if (result.isConfirmed) {
          var fd = new FormData();    
          fd.append("id",id);
          fd.append("csrfmiddlewaretoken","{{csrf_token}}");
          $.ajax({
            type: "POST",
            url: frontend_url+"exam/delete_exam_type_marks",
            data: fd,
            processData: false,
            contentType: false,
            
            success: function(response) {
              console.log("delete",response)
              if(response.response.n ==1){
                Swal.fire({
                  text: response.response.msg,
                  icon: 'success',
                }).then((result) => {
                  window.location.href = "/exam/exam_type";
          
                });
              }else{
                Swal.fire({
                  text: response.response.msg,
                  icon: 'error',
                })
              }
  
        
            },
          });




        }
      });
       

    }
    function validate_add_paper_type_form(){
      debugger
      var papertype=$('#papertype').val()

      if(IsValid(papertype)){
        $('#papertype').html();
        $('#papertype_error').show().delay(3000).slideUp();
        $('#papertype_error').html('Please enter exam type ');
        $('#papertype').focus();
        return false;
      }      

      else{


        var fd = new FormData();    
        fd.append("TypeName",papertype);
        fd.append("csrfmiddlewaretoken","{{csrf_token}}");
        $.ajax({
          type: "POST",
          url: frontend_url+"exam/add_exam_type",
          data: fd,
          processData: false,
          contentType: false,
          
          success: function(response) {
            if(response.response.n ==1){
              Swal.fire({
                text: response.response.msg,
                icon: 'success',
              }).then((result) => {
                window.location.href = "/exam/exam_type";
        
              });
            }else{
              Swal.fire({
                text: response.response.msg,
                icon: 'error',
              })
            }

      
          },
        });



      }
    }

    function delete_papertype(id){
      Swal.fire({
        title: "Are you sure?",
        text: "You won't be able to revert this!",
        icon: "warning",
        showCancelButton: true,
        confirmButtonColor: "#3085d6",
        cancelButtonColor: "#d33",
        confirmButtonText: "Yes, delete it!"
      }).then((result) => {
        if (result.isConfirmed) {
          var fd = new FormData();    
          fd.append("id",id);
          fd.append("csrfmiddlewaretoken","{{csrf_token}}");
          $.ajax({
            type: "POST",
            url: frontend_url+"exam/delete_exam_type",
            data: fd,
            processData: false,
            contentType: false,
            
            success: function(response) {
              console.log("delete",response)
              if(response.response.n ==1){
                Swal.fire({
                  text: response.response.msg,
                  icon: 'success',
                }).then((result) => {
                  window.location.href = "/exam/exam_type";
          
                });
              }else{
                Swal.fire({
                  text: response.response.msg,
                  icon: 'error',
                })
              }
  
        
            },
          });




        }
      });
       

    }
  </script>
{% endblock %}
