{% extends 'index.html' %}
{% load static %}
{% block head %}
<style>
   .breakdowncard{
    box-shadow: 0 0 5px #c7c7c7;
    border-radius: 15px;
    padding: 10px;
    font-weight: 600;
   }
   .breakdownname{
    text-transform: capitalize;

   }
   .breakdowndates{
    display: flex;
    justify-content: space-between;

   }
   .breakdownamount{
    display: flex;
    justify-content: end;

   }
   .modal-content{
      margin-left:50px;
   }
</style>
{% endblock %}

{% block heading %}
  <span class="tab-title"> <span class="px-1">Fees Distribution</span></span>
{% endblock %}

{% block body %}
<div class="d-flex justify-content-end mb-3">
    <a href="/fees/add_fees_distrubution" class="btn btn-primary">Add Fees</a>

  </div>
 
  <div class="row">
    <table id="" class="table table-striped table-bordered" style="width:100%">
      <thead>
       
          <tr>
              <th> Sr No</th>
              <th>Year</th>
              <th>Class</th>
              <th>Amount</th>
              <th>Breakdown</th>
              <th>Action</th>
          </tr>
      </thead>
      
      <tbody id="table_body">

        {% for i in fees %}
        
          <tr>
              <td> {{forloop.counter }}</td>
              <td>{{i.academic_year_id}}</td>
              <td>{{i.class_id}}</td>
              <td>{{i.total_amount}}</td>
              <td>
                {% if  i.breakdown == True %}
                  <button class="btn btn-primary"  data-bs-toggle="modal" data-bs-target="#breakdown_lists{{i.id}}">Yes <i class="fa-solid fa-circle-check"></i></button>
                  {% else %}
                  <button class="btn btn-primary">No  <i class="fa-solid fa-circle-xmark"></i></button>
                {% endif %}

                <div id="breakdown_lists{{i.id}}" class="modal">
                  <div class="modal-dialog modal-lg">
                    <div class="modal-content">
            
                      <div class="modal-body">
                      <div class="card">
                        <div class="card-body">
                          <h5 class="card-title fw-semibold mb-4">Breakdowns</h5>
                          <div class="card">
                            <div class="card-body">
                              <div class="row">
                                {% for j in i.Breakdowns %}
                         
                                <div class="col-lg-6">
                                  <div class="breakdowncard my-2">
                                    <div class="breakdownname">Name:{{j.name}}</div>
                                    <div class="py-3">
                                      <div class="breakdowndates">
                                        <span class="breakdownstartdate">Start Date</span>
                                        <span class="breakdownenddate">End Date</span>
                                      </div>
                                      <div class="breakdowndates">
                                        <span class="breakdownstartdate">       {{j.startdate_dd_mm_yyyy}}
                                         </span>
                                        <span class="breakdownenddate"> {{j.enddate_dd_mm_yyyy}}</span>
                                      </div>
                                    </div>
                                    <div class="breakdownamount">Amount : {{j.amount}}</div>

                                  </div>
                                </div>
                                {% endfor %}
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      </div>
                    </div>
                  </div>
                </div>







              </td>

 
              <td>
                <a data-bs-toggle="tooltip" title="Delete fees" onclick="delete_fees('{{i.id}}')"><i class="fa-solid fa-trash-can text-danger mx-1"></i></a>
                <a data-bs-toggle="tooltip" href="/fees/edit_fees_distribution/{{i.id}}" title="Edit fees"><i class="fa-solid fa-pen-to-square text-primary mx-1"></i></a>
              </td>
            


          </tr>
          {% endfor %}

      </tbody>

  </table>
  </div>
{% endblock %}

{% block script %}
<script>



$(document).ready(function() {

});
function delete_fees(id){
  Swal.fire({
    title: "Are you sure?",
    text: "You won't be able to revert this!",
    icon: "warning",
    showCancelButton: true,
    confirmButtonColor: "#3085d6",
    cancelButtonColor: "#d33",
    confirmButtonText: "Yes, delete it!"
  }).then((result) => {
    if (result.isConfirmed) {
      var fd = new FormData();    
      fd.append("id",id);
      fd.append("csrfmiddlewaretoken","{{csrf_token}}");
      $.ajax({
        type: "POST",
        url: frontend_url+"fees/delete_fees",
        data: fd,
        processData: false,
        contentType: false,
        
        success: function(response) {
          console.log("delete",response)
          if(response.response.n ==1){
            Swal.fire({
              text: response.response.msg,
              icon: 'success',
            }).then((result) => {
              window.location.href = "/fees/fees_distrubution";
      
            });
          }else{
            Swal.fire({
              text: response.response.msg,
              icon: 'error',
            })
          }

    
        },
      });




    }
  });
   

}
</script>
{% endblock %}
