{% extends "index.html" %}
{% load static %} 
{% block head %}


{% endblock %}
{% block heading %}
<span class="tab-title">
<span class="px-1"> Student List</span>
</span>
{% endblock %}
{% block body %}
<div class="row justify-content-end">
  <div class="mb-3 col-lg-5">
      <label for="classid" class="form-label">Class</label>
      <select id="classid" class="form-select select2" aria-describedby="class_error">
        {% for class in classes %}
          <option value="{{ class.id }}">{{ class.ClassName }} </option>
        {% endfor %}

      </select>
      <div id="class_error" class="form-text error_message"></div>
  </div>
  <div class="mb-3 col-lg-5">
      <label for="academic_year" class="form-label">Academic Year</label>
      <select id="academic_year" class="form-select select2" aria-describedby="academic_year_error">
        {% for year in academic_years %}

          <option value="{{ year.id }}">{{ year.startdate_month_yyyy }} to {{ year.enddate_month_yyyy }}</option>

        {% endfor %}
      </select>
      <div id="academic_year_error" class="form-text error_message"></div>
    </div>



  <div class="mb-3 my-auto col-lg-2 d-flex justify-content-end">
    <a class="btn btn-primary" onclick="search_student();">Apply</a>
  </div>
</div>
  <div class="row">
    <table id="studentple" class="table table-striped table-bordered" style="width:100%">
      <thead>
          <tr>
              <th>Student Code</th>
              <th>Student Name</th>
              <th>Class</th>
              <th>Action</th>
          </tr>
      </thead>
      <tbody id="table_body">



      </tbody>

  </table>
  </div> 
  
  
{% endblock %}

{% block script %}
<script>
  $( document ).ready(function() {
        search_student() 
  });  

  function delete_student(studentcode){

    Swal.fire({
      title: "Are you sure?",
      text: "You won't be able to revert this!",
      icon: "warning",
      showCancelButton: true,
      confirmButtonColor: "#3085d6",
      cancelButtonColor: "#d33",
      confirmButtonText: "Yes, delete it!"
    }).then((result) => {
      if (result.isConfirmed) {
        var fd = new FormData();    
        fd.append("studentcode",studentcode);
        fd.append("csrfmiddlewaretoken","{{csrf_token}}");
        $.ajax({
          type: "POST",
          url: frontend_url+"student/delete_student",
          data: fd,
          processData: false,
          contentType: false,
          
          success: function(response) {
            console.log("delete",response)
            if(response.response.n ==1){
              Swal.fire({
                text: response.response.msg,
                icon: 'success',
              }).then((result) => {
                window.location.href = "/student/student_list";
        
              });
            }else{
              Swal.fire({
                text: response.response.msg,
                icon: 'error',
              })
            }

      
          },
        });




      }
    });
     

  }

</script>
<script>
  function search_student(){
    var classid = $('#classid').val();
    var yearid = $('#academic_year').val();
    var fd = new FormData();    
    fd.append("class",classid);
    fd.append("yearid",yearid);
    fd.append("csrfmiddlewaretoken","{{csrf_token}}");
    $.ajax({
      type: "POST",
      url: frontend_url+"student/student_list",
      data: fd,
      processData: false,
      contentType: false,
      
      success: function(response) {
        console.log("student_list",response)
        if(response.response.n ==1){
          var trhtml=''

          counter=1
          $.each(response.data,function(o,i){
            trhtml+=`
            <tr>
              <td>`+i.StudentCode+`</td>
              <td>`+i.studentId+`</td>
              <td>`+i.classid+`</td>
              <td>
                <a href="/fees/student_fee/`+i.studentId_id+`" data-bs-toggle="tooltip" class="btn btn-primary" title="View Fees">Fees</a>
              </td>
            
  
  
            </tr>

       


            
            `
            counter+=1

          });
          $('#table_body').html(trhtml)

          var table = $('#studentple').DataTable();

          // Function to destroy and reinitialize the DataTable
          function reinitializeDataTable() {
              // Destroy the existing DataTable
              table.destroy();
  
              // Reinitialize the DataTable
              table = $('#studentple').DataTable();
          }


          Swal.fire({
            text: response.response.msg,
            icon: 'success',
          })
        }else{
          Swal.fire({
            text: response.response.msg,
            icon: 'error',
          })
        }

  
      },
    });
  }
</script>
{% endblock %}