{% extends "index.html" %}
{% load static %} 
{% block head %}


{% endblock %}
{% block heading %}
<span class="tab-title">
<span class="px-1"> Student List</span>
</span>
{% endblock %}
{% block body %}
<div class="row justify-content-end">
  <div class="mb-3 col-lg-5">
      <label for="classid" class="form-label">Class</label>
      <select id="classid" class="form-select select2" aria-describedby="class_error">
        <option value="" selected>Please select class</option>
        {% for class in classes %}
          <option value="{{ class.id }}">{{ class.ClassName }} </option>
        {% endfor %}

      </select>
      <div id="class_error" class="form-text error_message"></div>
  </div>
  <div class="mb-3 col-lg-5">
      <label for="academic_year" class="form-label">Academic Year</label>
      <select id="academic_year" class="form-select select2" aria-describedby="academic_year_error">
        <option value="" selected>Please select academic year</option>
        {% for year in academic_years %}
          {% if year.isActive == True %}
            <option value="{{ year.id }}" selected>{{ year.startdate_month_yyyy }} to {{ year.enddate_month_yyyy }}</option>
          {% else %}
            <option value="{{ year.id }}">{{ year.startdate_month_yyyy }} to {{ year.enddate_month_yyyy }}</option>
          {% endif %}
        {% endfor %}
      </select>
      <div id="academic_year_error" class="form-text error_message"></div>
    </div>



  <div class="mb-3 my-auto col-lg-2 d-flex justify-content-end">
    <a class="btn btn-primary" onclick="search_student();">Apply</a>
  </div>
</div>
  <div class="row">
    <table id="studentple" class="table table-striped table-bordered" style="width:100%">
      <thead>
          <tr>
              <th> Sr No</th>
              <th>Name</th>
              <th>Class</th>
              <th>Action</th>
          </tr>
      </thead>
      <tbody id="table_body">

        {% for i in students %}
          <tr>
              <td> {{forloop.counter }}</td>
              <td>{{i.StudentName}}</td>
              <td>{{i.StudentClass}}</td>
      
 
              <td>
                <a data-bs-toggle="tooltip" title="Delete student" onclick="delete_student('{{i.StudentCode}}')"><i class="fa-solid fa-trash-can text-danger mx-1"></i></a>
              </td>
            


          </tr>
          {% endfor %}

      </tbody>

  </table>
  </div> 
  
  
{% endblock %}

{% block script %}
<script>
  $( document ).ready(function() {
        new DataTable('#studentple'); 
        search_student() 
  });  

  function delete_student(studentcode){
    Swal.fire({
      title: "Are you sure?",
      text: "You won't be able to revert this!",
      icon: "warning",
      showCancelButton: true,
      confirmButtonColor: "#3085d6",
      cancelButtonColor: "#d33",
      confirmButtonText: "Yes, delete it!"
    }).then((result) => {
      if (result.isConfirmed) {
        var fd = new FormData();    
        fd.append("studentcode",studentcode);
        fd.append("csrfmiddlewaretoken","{{csrf_token}}");
        $.ajax({
          type: "POST",
          url: frontend_url+"student/delete_student",
          data: fd,
          processData: false,
          contentType: false,
          
          success: function(response) {
            console.log("delete",response)
            if(response.response.n ==1){
              Swal.fire({
                text: response.response.msg,
                icon: 'success',
              }).then((result) => {
                window.location.href = "/student/student_list";
        
              });
            }else{
              Swal.fire({
                text: response.response.msg,
                icon: 'error',
              })
            }

      
          },
        });




      }
    });
     

  }

</script>
<script>
  function search_student(){
    var classid = $('#classid').val();

    var yearid = $('#academic_year').val();

    var fd = new FormData();    
    fd.append("class",classid);
    fd.append("yearid",yearid);
    fd.append("csrfmiddlewaretoken","{{csrf_token}}");
    $.ajax({
      type: "POST",
      url: frontend_url+"student/student_list",
      data: fd,
      processData: false,
      contentType: false,
      
      success: function(response) {
        console.log("student_list",response)
        if(response.response.n ==1){
          var trhtml=''

          counter=1
          $.each(response.data,function(o,i){
            trhtml+=`
            <tr>
              <td>`+counter+`</td>
              <td>`+i.studentId+`</td>
              <td>`+i.classid+`</td>
              <td>
                <a data-bs-toggle="tooltip" title="Delete student" onclick="delete_student('`+i.StudentCode+`')"><i class="fa-solid fa-trash-can text-danger mx-1"></i></a>
                <a title="Edit student" data-bs-toggle="modal" data-bs-target="#edit_student" data-bs-toggle="tooltip" onclick="get_student_info('`+i.StudentCode+`')"><i class="fa-solid fa-pen-to-square mx-1"></i></a>




                <div id="edit_student" class="modal">
                  <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                      <div class="modal-body">
                        <div class="card">
                          <div class="card-body">
                            <h5 class="card-title fw-semibold mb-4">Edit Student</h5>
                            <div class="card">
                              <div class="card-body">
                                <form>
                                  <div class="row">
                                    
                                    <div class="mb-3 col-lg-6">
                                      <label for="student_name" class="form-label">Student Name<span class="text-danger">*</span> </label>
                                      <input type="text" class="form-control" id="student_name" placeholder="Please enter name" aria-describedby="student_name_error"/>
                                      <div id="student_name_error" class="form-text error_message"></div>
                                    </div>

                                    <div class="mb-3 col-lg-6">

                                      <label for="blood_group" class="form-label">Blood Group<span class="text-danger">*</span> </label>
                                      <select id="blood_group" class="form-select select2" aria-describedby="blood_group_error">
                                            <option value="" selected>Please Select Blood Group</option>
                                            <option value="1" selected>1</option>
                                            <option value="1">1</option>
                                      </select>
                                      <div id="blood_group_error" class="form-text error_message"></div>
                                    </div>

                                    <div class="mb-3 col-lg-6">
                                      <label for="class_name" class="form-label">Class <span class="text-danger">*</span> </label>
                                      <select id="class_name" class="form-select select2" aria-describedby="class_name_error">
                                            <option value="" selected>Please Select Class </option>
                                            <option value="1" selected>1</option>
                                            <option value="1">1</option>
                                      </select>
                                      <div id="class_name_error" class="form-text error_message"></div>
                                    </div>


                                    <div class="mb-3 col-lg-6">
                                      <label for="roll_no" class="form-label">Roll No<span class="text-danger">*</span> </label>
                                      <input type="text" class="form-control" id="roll_no" placeholder="Please enter roll no" aria-describedby="roll_no_error"/>
                                      <div id="roll_no_error" class="form-text error_message"></div>
                                    </div>
                                    <div class="mb-3 col-lg-6">
                                      <label for="date_of_birth" class="form-label">Date of Birth<span class="text-danger">*</span> </label>
                                      <input type="text" class="form-control date_picker" id="date_of_birth" placeholder="Please enter date of birth" aria-describedby="date_of_birth_error" readonly/>
                                      <div id="date_of_birth_error" class="form-text error_message"></div>
                                    </div>
                                    <div class="mb-3 col-lg-6">
                                      <label for="date_of_joining" class="form-label">Date of joining<span class="text-danger">*</span> </label>
                                      <input type="text" class="form-control date_picker" id="date_of_joining" placeholder="Please enter date of joining" aria-describedby="date_of_joining_error" readonly/>
                                      <div id="date_of_joining_error" class="form-text error_message"></div>
                                    </div>

                                  </div>
          
                                  <div class="row">
                                    <div class="d-flex justify-content-center" id="edit_button">
                                      <a  class="btn btn-primary">Submit</a>
                                    </div>
                                  </div>
                                </form>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>


              </td>
            
  
  
          </tr>
            
            `
            counter+=1

          });
          $('#table_body').html(trhtml)

          Swal.fire({
            text: response.response.msg,
            icon: 'success',
          })
        }else{
          Swal.fire({
            text: response.response.msg,
            icon: 'error',
          })
        }

  
      },
    });
  }
</script>
{% endblock %}