{% extends 'index.html' %}
{% load static %}
{% block head %}

{% endblock %}

{% block heading %}
  <span class="tab-title"><i class="fa-solid fa-user"></i> <span class="px-1">Add Time Table</span></span>
{% endblock %}

{% block body %}
  <div class="card">
    <div class="card-body">
      <h5 class="card-title fw-semibold mb-4">Add Time Table Forms</h5>
      <div class="card">
        <div class="card-body">
          <form>
            <div class="row">

              <div class="mb-3 col-lg-4">
                <label for="class_name" class="form-label">Class</label> 
                <select id="class_name" class="form-select" aria-describedby="class_name_error">
                  <option value="">Please select class</option>

                  {% for i in classes %}
                  <option value="{{i.id}}">{{i.ClassName}}</option>
                  {% endfor %}
                </select>
                <div id="class_name_error" class="form-text error_message"></div>
              </div>

              <div class="mb-3 col-lg-4">
                  <label for="daterange" class="form-label">Dates</label>
                    <span style="display:flex;">
                      <span id="daterange"  class="form-control">
                          <i class="fa fa-calendar"></i>&nbsp;
                      <span id="spandatechange"></span> <i class="fa fa-caret-down"></i>
                      </span>
                    </span>
                    <div id="datesrange_error" class="form-text error_message"></div>

              </div>




              

              <div class="mb-3 col-lg-4">
                <label for="day" class="form-label">Days</label>
                <select id="day" class="form-select" aria-describedby="day_error">
                  <option value="">Please select Days</option>

                  <option value="Monday">Monday</option>
                  <option value="Tuesday">Tuesday</option>
                  <option value="Wednesday">Wednesday</option>
                  <option value="Thursday">Thursday</option>
                  <option value="Friday">Friday</option>
                  <option value="Saturday">Saturday</option>
                  <option value="Sunday">Sunday</option>
                </select>
                <div id="day_error" class="form-text error_message"></div>
              </div>

              <div class="mb-3 col-lg-4">
                <label for="start_time" class="form-label">Start Time</label>
                <input type="time" class="form-control" id="start_time" aria-describedby="start_time_error" />
                <div id="start_time_error" class="form-text error_message"></div>
              </div>

              <div class="mb-3 col-lg-4">
                <label for="end_time" class="form-label">End Time</label>
                <input type="time" class="form-control" id="end_time" aria-describedby="end_time_error" />
                <div id="end_time_error" class="form-text error_message"></div>
              </div>

              <div class="mb-3 col-lg-4">
                <label for="subject" class="form-label">Subject</label>
                <select id="subject" class="form-select" aria-describedby="subject_error">
                  <option value=""> Please select subject</option>

                  {% for subject in subjects %}

                    <option value="{{subject.id}}"> {{subject.SubjectName}}</option>
                  {% endfor %}
                </select>
                <div id="subject_error" class="form-text error_message"></div>
              </div>


              <div class="mb-3 col-lg-4">
                <label for="teacher" class="form-label">Teacher</label>
                <select id="teacher" class="form-select" aria-describedby="teacher_error">
                  <option value=""> Please select teacher</option>

                  {% comment %} {% for teacher in teachers %}
                    <option value="{{teacher.id}}"> {{teacher.Username}}</option>
                  {% endfor %} {% endcomment %}
                </select>
                <div id="teacher_error" class="form-text error_message"></div>
              </div>




            </div>
            <div class="row">
              <div class="d-flex justify-content-center" id="operations_btn">
                <a id="addtimetableBtn" class="btn btn-primary">Add</a>
                <a id="updatedrafttimetableBtn" onclick="update_draft();" class="btn btn-primary d-none">Update</a>
                <a id="updatenormaltimetableBtn" onclick="update_normal();" class="btn btn-primary d-none">Update</a>
              </div>
            </div>

            <div>
              <table class="table">
                <thead class="thead-dark">
                  <th>Days</th>
                  <th>Period Time</th>
                  <th>Dates</th>
                  <th>Class</th>
                  <th>Subject</th>
                  <th>Teacher</th>
                  <th>Action</th>
                </thead>
                <tbody id="added_timetable">


                </tbody>
              </table>
            </div>
            <div class="row">
              <div class="d-flex justify-content-center">
                <a id="" onclick="save_timetable();" class="btn btn-primary">Save</a>
              </div>
            </div>
          </form>


        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="row justify-content-end">
      <div class="my-3 col-lg-4">
        <label for="timetable_daterange" class="form-label">Dates</label>
        <select id="timetable_daterange" class="form-select" aria-describedby="timetable_daterange_error">
          <option value="">Please select Dates</option>
          {% for i in timetable_dates_ranges %}

            <option value="{{i.startdate}} to {{i.enddate}}" >{{i.startdate}} to {{i.enddate}}</option>

          {% endfor %}
        </select>
        <div id="timetable_daterange_error" class="form-text error_message"></div>
      </div>
    </div>
    <table class="table w-100" id="timetable_table">
      <thead class="thead-dark">
        <th>Days</th>
        <th>Period Time</th>
        <th>Dates</th>
        <th>Class</th>
        <th>Subject</th>
        <th>Teacher</th>
        <th>Action</th>
      </thead>
      <tbody id="table_body">
        {% for i  in timetableslist %}
        <tr>
          <td>{{i.Day}}</td>
          <td>{{i.start_time}} to {{i.end_time}}</td>
          <td>{{i.startdate}} to {{i.enddate}}</td>
          <td>{{i.ClassId}}</td>
          <td>{{i.SubjectId}}</td>
          <td>{{i.teacher_name}}</td>
          <td>            
            <a data-bs-toggle="tooltip" title="Edit " onclick="get_timetable_info('{{i.id}}');"><i class="fa-solid fa-pen-to-square mx-1"></i></a>
            <a data-bs-toggle="tooltip" title="Delete " onclick="delete_timetable('{{i.id}}');"><i class="fa-solid fa-trash-can text-danger mx-1"></i></a>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
{% endblock %}

{% block script %}
<script>

  var timetables = []; // Array to store timetables
  var rowno = 1; // timetable number counter
  var itemtobechange=''

  function GetMonthName(monthname) {
    var months = {
      January: 01,
      February: 02,
      March: 03,
      April: 04,
      May: 05,
      June: 06,
      July: 07,
      August: 08,
      September: 09,
      October: 10,
      November: 11,
      December: 12
    }
    var monthNumber = months[monthname]
    if (monthNumber < 10){
        monthString = monthNumber.toString();
        monthNumber='0'+monthString
      }
    return monthNumber
  }
  function check_existing_entry(){

    var classid=$('#class_name').val();
    var day=$('#day').val();
    var starttime=$('#start_time').val();
    var endtime=$('#end_time').val();
    var dates = getdates($('#spandatechange').html());
    var status =false
      var fd = new FormData();   
      fd.append("startdate",dates.start_date);
      fd.append("enddate",dates.end_date);
      fd.append("starttime",starttime);
      fd.append("endtime",endtime);
      fd.append("classid",classid);
      fd.append("day",day);
      fd.append("csrfmiddlewaretoken","{{csrf_token}}");

      $.ajax({
        type: "POST",
        url: frontend_url+"time_table_master/check_existing_timetable_entry",
        data: fd,
        processData: false,
        contentType: false,
        
        success: function(response) {
          console.log("timetable",response)
          if(response.response.n == 1){
            Swal.fire({
              text: response.response.msg,
              icon: 'error',
            })
            status= true
            
          }else{

            status=false
          }
  
    
        },
      });
      return status






  }




  function validate_form(){
    var class_name=$('#class_name').val();
    var day=$('#day').val();
    var start_time=$('#start_time').val();
    var end_time=$('#end_time').val();
    var subject=$('#subject').val();
    var teacher=$('#teacher').val();
    var datesrange = $('#spandatechange').html()


    if(IsValid(class_name)){
      $('#class_name').html();
      $('#class_name_error').show().delay(3000).slideUp();
      $('#class_name_error').html('Please select class name');
      $('#class_name').focus();
      return false;
    }

    if(IsValid(datesrange)){
      $('#spandatechange').html();
      $('#datesrange_error').show().delay(3000).slideUp();
      $('#datesrange_error').html('Please select dates');
      $('#spandatechange').focus();
      return false;
    }
    if(IsValid(day)){
      $('#day').html();
      $('#day_error').show().delay(3000).slideUp();
      $('#day_error').html('Please select day');
      $('#day').focus();
      return false;
    }
    if(IsValid(start_time)){
      $('#start_time').html();
      $('#start_time_error').show().delay(3000).slideUp();
      $('#start_time_error').html('Please select start time');
      $('#start_time').focus();
      return false;
    }
    if(IsValid(end_time)){
      $('#end_time').html();
      $('#end_time_error').show().delay(3000).slideUp();
      $('#end_time_error').html('Please select end time');
      $('#end_time').focus();
      return false;
    }
    if(IsValid(subject)){
      $('#subject').html();
      $('#subject_error').show().delay(3000).slideUp();
      $('#subject_error').html('Please select subject');
      $('#subject').focus();
      return false;
    }
    if(IsValid(teacher)){
      $('#teacher').html();
      $('#teacher_error').show().delay(3000).slideUp();
      $('#teacher_error').html('Please select teacher');
      $('#teacher').focus();
      return false;
    }else{
      return true;

    }
  }
  function getdates(datevalue) {

    if (datevalue != '' && datevalue != null) {
      var start_datestr = datevalue.split(' - ')[0]
      var end_datestr = datevalue.split(' - ')[1]

      var smonthstr = start_datestr.split(' ')[0]
      var smonth = GetMonthName(smonthstr)

      var emonthstr = end_datestr.split(' ')[0]
      var emonth = GetMonthName(emonthstr)

      var sdate = start_datestr.split(' ')[1].split(',')[0]
      var edate = end_datestr.split(' ')[1].split(',')[0]

      if (sdate >10){
        sdate='0'+sdate
      }
      if (edate >10){
        edate='0'+edate
      }
      var syear = start_datestr.split(',')[1].split(' ')[1]
      var eyear = end_datestr.split(',')[1].split(' ')[1]

      var start_date = syear + '-' + smonth + '-' + sdate
      var end_date = eyear + '-' + emonth + '-' + edate

      return { start_date: start_date, end_date: end_date };
    } else {
      return { start_date: '', end_date: '' };
    }
  }
  function delete_timetable(id){
    Swal.fire({
      title: "Are you sure?",
      text: "You won't be able to revert this!",
      icon: "warning",
      showCancelButton: true,
      confirmButtonColor: "#3085d6",
      cancelButtonColor: "#d33",
      confirmButtonText: "Yes, delete it!"
    }).then((result) => {
      if (result.isConfirmed) {
        var fd = new FormData();    
        fd.append("id",id);
        fd.append("csrfmiddlewaretoken","{{csrf_token}}");
        $.ajax({
          type: "POST",
          url: frontend_url+"time_table_master/delete_timetable",
          data: fd,
          processData: false,
          contentType: false,
          
          success: function(response) {
            console.log("delete",response)
            if(response.response.n ==1){
              Swal.fire({
                text: response.response.msg,
                icon: 'success',
              }).then((result) => {
                window.location.href = "/time_table_master/add_time_table";
        
              });
            }else{
              Swal.fire({
                text: response.response.msg,
                icon: 'error',
              })
            }

      
          },
        });




      }
    });
     

  }
  function get_timetable_info(id){
    var fd = new FormData();    
    fd.append("id",id);
    fd.append("csrfmiddlewaretoken","{{csrf_token}}");
    $.ajax({
      type: "POST",
      url: frontend_url+"time_table_master/get_timetable_by_id",
      data: fd,
      processData: false,
      contentType: false,
      
      success: function(response) {
        console.log("delete",response)
        if(response.response.n ==1){
          var d=response.data
          console.log("good",d)
          $('#addtimetableBtn').addClass('d-none')
          $('#updatedrafttimetableBtn').addClass('d-none')
          $('#updatenormaltimetableBtn').removeClass('d-none')
          itemtobechange=id
         
          $("#class_name").val(d.ClassId).trigger("change");
          $('#day').val(d.Day).trigger("change");;
          $('#subject').val(d.SubjectId).trigger("change");;
          $('#teacher').val(d.TeacherId).trigger("change");;
          $('#start_time').val(d.start_time);
          $('#end_time').val(d.end_time);
          setDateRange(d.startdate, d.enddate);



        }else{
          Swal.fire({
            text: response.response.msg,
            icon: 'error',
          })
        }

  
      },
    });
     

  }
  function deleterow(id){

      Swal.fire({
        title: "Are you sure?",
        text: "You won't be able to revert this!",
        icon: "warning",
        showCancelButton: true,
        confirmButtonColor: "#3085d6",
        cancelButtonColor: "#d33",
        confirmButtonText: "Yes, delete it!"
      }).then((result) => {
        if (result.isConfirmed) {
  
  
  
  

    var result=timetables.find(item => item.itemno === id)

    const index = timetables.findIndex(item => item.itemno === id);


    if (index !== -1) {
        timetables.splice(index, 1)[0];
    }
    var rownoToRemove = $('.rowitem'+id);

    rownoToRemove.remove();
    $("#class_name").val("").trigger("change");
    $('#day').val("").trigger("change");;
    $('#subject').val("").trigger("change");;
    $('#teacher').val("").trigger("change");;
    $('#start_time').val(' ');
    $('#end_time').val(' ');
    $('#addtimetableBtn').removeClass('d-none')
    $('#updatedrafttimetableBtn').addClass('d-none')
    $('#updatenormaltimetableBtn').addClass('d-none')

      }
    });
  };
  function setDateRange(startDate, endDate) {
    // Parse the input date strings into moment objects
    var start = moment(startDate, 'YYYY-MM-DD');
    var end = moment(endDate, 'YYYY-MM-DD');
    
    // Update the date range picker with the new dates
    $('#daterange').data('daterangepicker').setStartDate(start);
    $('#daterange').data('daterangepicker').setEndDate(end);
  
    // Update the displayed date range text
    $('#daterange span').html(start.format('MMMM D, YYYY') + ' - ' + end.format('MMMM D, YYYY'));
  }
  function convertTo12HourFormat(time24) {
    // Split the time string into hours and minutes
    var parts = time24.split(':');
    var hour = parseInt(parts[0]);
    var minute = parseInt(parts[1]);

    // Determine if it's AM or PM
    var amPm = (hour >= 12) ? 'pm' : 'am';

    // Convert hour to 12-hour format
    hour = (hour % 12) || 12;

    // Pad single digit hour or minute with leading zero
    hour = hour < 10 ? '0' + hour : hour;
    minute = minute < 10 ? '0' + minute : minute;

    // Return the formatted time
    return hour + ':' + minute + ' ' + amPm;
  }
  function editrow(itemNo){

    var result=timetables.find(item => item.itemno === itemNo)
    const index = timetables.findIndex(item => item.itemno === itemNo);


    $('#addtimetableBtn').addClass('d-none')
    $('#updatedrafttimetableBtn').removeClass('d-none')
    $('#updatenormaltimetableBtn').addClass('d-none')

    itemtobechange=itemNo
    $("#class_name").val(result.class).trigger("change");
    $('#day').val(result.day).trigger("change");;
    $('#subject').val(result.subject).trigger("change");;
    $('#teacher').val(result.teacher).trigger("change");;
    $('#start_time').val(result.starttime);
    $('#end_time').val(result.endtime);
    setDateRange(result.startdate, result.enddate);



  };
  function update_draft(){
    if(validate_form() == true){

    itemNo=itemtobechange
    var class_name = $('#class_name option:selected').text();
    var class_id = $('#class_name option:selected').val();
    var day = $('#day option:selected').text();
    var subject = $('#subject option:selected').text();
    var subject_id = $('#subject option:selected').val();
    var teacher = $('#teacher option:selected').text();
    var teacher_id = $('#teacher option:selected').val();
    var start_time=$('#start_time').val();
    var end_time=$('#end_time').val();
    var datesrange = $('#spandatechange').html()

    $('.rowitem'+itemNo).html(`<td>`+day+`</td>    <td>`+convertTo12HourFormat(start_time) +` to `+ convertTo12HourFormat(end_time) + `</td>   <td>`+datesrange+`</td>    <td>`+class_name+`</td>    <td>`+subject+`</td>    <td>`+teacher+`</td>    <td>      <a onclick="editrow(`+itemNo+`);" data-bs-toggle="tooltip" title="Edit "><i class="fa-solid fa-pen-to-square mx-1"></i></a>      <a onclick="deleterow('`+itemNo+`');"  data-bs-toggle="tooltip" title="Delete "><i class="fa-solid fa-trash-can text-danger mx-1"></i></a>    </td>`)



    var dates = getdates($('#spandatechange').html());




    var result=timetables.find(item => item.itemno === itemNo)
    if (result) {
      result.class =class_id;
      result.day =day;
      result.startdate =dates.start_date;
      result.enddate = dates.end_date;
      result.starttime = start_time;
      result.endtime = end_time;
      result.subject = subject_id;
      result.teacher = teacher_id;
    } 

    $("#class_name").val("").trigger("change");
    $('#day').val("").trigger("change");;
    $('#subject').val("").trigger("change");;
    $('#teacher').val("").trigger("change");;
    $('#start_time').val(' ');
    $('#end_time').val(' ');
    $('#addtimetableBtn').removeClass('d-none')
    $('#updatedrafttimetableBtn').addClass('d-none')
    $('#updatenormaltimetableBtn').addClass('d-none')
    }

  };
  function update_normal(){
    if(validate_form() == true){

    itemNo=itemtobechange
    var class_name = $('#class_name option:selected').text();
    var class_id = $('#class_name option:selected').val();
    var day = $('#day option:selected').text();
    var subject = $('#subject option:selected').text();
    var subject_id = $('#subject option:selected').val();
    var teacher = $('#teacher option:selected').text();
    var teacher_id = $('#teacher option:selected').val();
    var start_time=$('#start_time').val();
    var end_time=$('#end_time').val();
    var dates = getdates($('#spandatechange').html());

    var fd = new FormData();    
    fd.append("id",itemNo);
    fd.append("startdate",dates.start_date);
    fd.append("enddate",dates.end_date);
    fd.append("classid",class_id);
    fd.append("day",day);
    fd.append("starttime",start_time);
    fd.append("endtime",end_time);
    fd.append("teacherid",teacher_id);
    fd.append("subject",subject_id);
    fd.append("csrfmiddlewaretoken","{{csrf_token}}");

    $.ajax({
      type: "POST",
      url: frontend_url+"time_table_master/edit_timetable",
      data: fd,
      processData: false,
      contentType: false,
      
      success: function(response) {
        console.log("delete",response)
        if(response.response.n ==1){

          Swal.fire({
            text: response.response.msg,
            icon: 'success',
          }).then((result) => {
            window.location.href = "/time_table_master/add_time_table";
    
          });




        }else{
          Swal.fire({
            text: response.response.msg,
            icon: 'error',
          })
        }

  
      },
    });














    
    }

  };
  function save_timetable(){


    console.log('timetables save',timetables)

    if (timetables.length == 0){
      Swal.fire({
        text: "Please add time table in list",
        icon: 'error',
      })
    }else{
      var fd = new FormData();    

      fd.append("timetablelist",JSON.stringify(timetables));
      fd.append("csrfmiddlewaretoken","{{csrf_token}}");
      $.ajax({
        type: "POST",
        url: frontend_url+"/time_table_master/add_time_table",
        data: fd,
        processData: false,
        contentType: false,
        
        success: function(response) {
          if(response.response.n ==1){
            Swal.fire({
              text: response.response.msg,
              icon: 'success',
            }).then((result) => {
              window.location.href = "/time_table_master/add_time_table";
      
            });
          }else{
            Swal.fire({
              text: response.response.msg,
              icon: 'error',
            })
          }
  
    
        },
      });
    }

  };
  $(document).ready(function() {
    
    $('#day').select2();
    $('#class_name').select2();
    $('#subject').select2();
    $('#teacher').select2();
    $('#timetable_table').DataTable();
    $('#timetable_daterange').select2();

    jQuery(function ($) {

      var start = moment().subtract(0, 'days')
      var end = moment()
  
      function cb(start, end) {
      $('#daterange span').html(start.format('MMMM D, YYYY') + ' - ' + end.format('MMMM D, YYYY'))
      }
  
      $('#daterange').daterangepicker(
      {
          startDate: start,
          endDate: end,
          ranges: {
          Today: [moment(), moment()],
          Yesterday: [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
          'Last 7 Days': [moment().subtract(6, 'days'), moment()],
          'Last 30 Days': [moment().subtract(29, 'days'), moment()],
          'This Month': [moment().startOf('month'), moment().endOf('month')],
          'Last Month': [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')]
          }
      },
      cb
      )
  
      cb(start, end)

      // Use jQuery UI Datepicker for DOB input
      $('#spandatechange').on('DOMSubtreeModified', function () {
          //console.log('DOMSubtreeModified',spandatechange)
      })
  
















    // Function to add a new timetable


    $('#addtimetableBtn').on('click', function() {
      if(validate_form() == true){
        console.log("check_existing_entry",check_existing_entry())
        if(check_existing_entry() == false ){


          var class_name = $('#class_name option:selected').text();
          var class_id = $('#class_name option:selected').val();
          var day = $('#day option:selected').text();
          var subject = $('#subject option:selected').text();
          var subject_id = $('#subject option:selected').val();
          var teacher = $('#teacher option:selected').text();
          var teacher_id = $('#teacher option:selected').val();
          var start_time=$('#start_time').val();
          var end_time=$('#end_time').val();
          var datesrange = $('#spandatechange').html()

          $('#added_timetable').append(`
                <tr class="rowitem`+rowno+`">
                  <td>`+day+`</td>
                  <td>`+convertTo12HourFormat(start_time) +` to `+ convertTo12HourFormat(end_time) + `</td>
                  <td>`+datesrange+`</td>
                  <td>`+class_name+`</td>
                  <td>`+subject+`</td>
                  <td>`+teacher+`</td>
                  <td>
                    <a onclick="editrow(`+rowno+`);" data-bs-toggle="tooltip" title="Edit "><i class="fa-solid fa-pen-to-square mx-1"></i></a>
                    <a onclick="deleterow(`+rowno+`);"  data-bs-toggle="tooltip" title="Delete "><i class="fa-solid fa-trash-can text-danger mx-1"></i></a>
                  </td>
                </tr>
          `);



          $("#class_name").val("").trigger("change");
          $('#day').val("").trigger("change");;
          $('#subject').val("").trigger("change");;
          $('#teacher').val("").trigger("change");;
          $('#start_time').val(' ');
          $('#end_time').val(' ');

          var dates = getdates($('#spandatechange').html());



          timetables.push({"itemno":rowno,"class":class_id,"day":day,"startdate":dates.start_date,"enddate":dates.end_date,"starttime":start_time ,"endtime":end_time, "subject":subject_id,"teacher":teacher_id});
          rowno++;

            //addtimetableToArray(timetable);
              
        }
      }
    });

    $('#subject').change(function() {
      // Your code here to handle the change event
      var selectedSubject = $(this).val(); // Get the selected value
      console.log("Selected Subject: " + selectedSubject);
      var fd = new FormData();    
      fd.append("subject",selectedSubject);
      fd.append("csrfmiddlewaretoken","{{csrf_token}}");
      $.ajax({
        type: "POST",
        url: frontend_url+"time_table_master/get_teacher_by_subject",
        data: fd,
        processData: false,
        contentType: false,
        
        success: function(response) {
          console.log("teacher",response)
          if(response.response.n == 1){
            var options=''
            options += `<option value="">Please select teacher</option>        `

            $.each(response.data,function(i,o){
              options += `<option value="`+o.teacherid+`">`+o.teachername+`</option>        `
            });
            $('#teacher').html(options)
  
  
  
          }else{
            Swal.fire({
              text: response.response.msg,
              icon: 'error',
            })
          }
  
    
        },
      });
      // You can perform further actions based on the selected subject
    });


    $('#timetable_daterange').change(function() {
      // Your code here to handle the change event
      var selected_range = $(this).val(); // Get the selected value
      var dates = selected_range.split(" to "); // Split the string at the comma
      console.log("Selected dates: " + dates[0]);
      var startdate=dates[0];
      var enddate=dates[1];
   
        var fd = new FormData();    
      fd.append("enddate",enddate);
      fd.append("startdate",startdate);
      fd.append("csrfmiddlewaretoken","{{csrf_token}}");
      $.ajax({
        type: "POST",
        url: frontend_url+"time_table_master/time_table_list",
        data: fd,
        processData: false,
        contentType: false,
        
        success: function(response) {
          console.log("timetable",response)
          if(response.response.n == 1){
            var trhtml=''

            $.each(response.data,function(i,o){
              trhtml += `
              <tr>
                <td>`+o.Day+`</td>
                <td>`+o.start_time+` to `+o.end_time+`</td>
                <td>`+o.startdate+` to `+o.enddate+`</td>
                <td>`+o.ClassId+`</td>
                <td>`+o.SubjectId+`</td>
                <td>`+o.teacher_name+`</td>
                <td>            
                  <a data-bs-toggle="tooltip" title="Edit " onclick="get_timetable_info('`+o.id+`');"><i class="fa-solid fa-pen-to-square mx-1"></i></a>
                  <a data-bs-toggle="tooltip" title="Delete " onclick="delete_timetable('`+o.id+`');"><i class="fa-solid fa-trash-can text-danger mx-1"></i></a>
                </td>
              </tr>

              `
              console.log("o",o)

            });
            $('#table_body').html(trhtml)
  
  
  
          }else{
            Swal.fire({
              text: response.response.msg,
              icon: 'error',
            })
          }
  
    
        },
      });
      // You can perform further actions based on the selected subject
    });








  })




  });



</script>
{% endblock %}
