{% extends 'index.html' %}
{% load static %}
{% block head %}

{% endblock %}

{% block heading %}
  <span class="tab-title"><span class="px-1">Edit Time Table</span></span>
{% endblock %}

{% block body %}
  <div class="card">
    <div class="card-body">
      <div class="d-flex justify-content-between">
        <h5 class="card-title fw-semibold mb-4">Edit Time Table Forms</h5>
        <h5 class="card-title fw-semibold mb-4">({{academic_year.startdate_month_yyyy}} To {{academic_year.enddate_month_yyyy}})</h5>
      </div>
      <div class="card">
        <div class="card-body">
          <form>
            <div class="row">

              <div class="mb-3 col-lg-4">
                <label for="class_name" class="form-label">Class</label> 
                <select id="class_name" class="form-select select2" aria-describedby="class_name_error">
                  <option>ABC</option>
                  <option>XYZ</option>
                </select>
                <div id="class_name_error" class="form-text error_message"></div>
              </div>

              <div class="mb-3 col-lg-4">
                  <label for="daterange" class="form-label">Dates</label>

                    <span style="display:flex;">
                      <span id="daterange"  class="form-control">
                          <i class="fa fa-calendar"></i>&nbsp;
                      <span id="spandatechange"></span> <i class="fa fa-caret-down"></i>
                      </span>
                    </span>
                    <div id="date_err" class="form-text error_message"></div>

              </div>




              

              <div class="mb-3 col-lg-4">
                <label for="day" class="form-label">Days</label>
                <select id="day" class="form-select select2" aria-describedby="day_error" multiple>
                  <option>Monday</option>
                  <option>Tuesday</option>
                  <option>Wednesday</option>
                  <option>Thursday</option>
                  <option>Friday</option>
                  <option>Saturday</option>
                  <option>Sunday</option>
                </select>
                <div id="day_error" class="form-text error_message"></div>
              </div>

              <div class="mb-3 col-lg-4">
                <label for="start_time" class="form-label">Start Time</label>
                <input type="time" class="form-control" id="start_time" aria-describedby="start_time_error" />
                <div id="start_time_error" class="form-text error_message"></div>
              </div>

              <div class="mb-3 col-lg-4">
                <label for="end_time" class="form-label">End Time</label>
                <input type="time" class="form-control" id="end_time" aria-describedby="end_time_error" />
                <div id="end_time_error" class="form-text error_message"></div>
              </div>

              <div class="mb-3 col-lg-4">
                <label for="subject" class="form-label">Subject</label>
                <select id="subject" class="form-select select2" aria-describedby="subject_error">
                  <option>Science</option>
                  <option>Maths</option>
                </select>
                <div id="subject_error" class="form-text error_message"></div>
              </div>


              <div class="mb-3 col-lg-4">
                <label for="teacher" class="form-label">Teacher</label>
                <select id="teacher" class="form-select select2" aria-describedby="teacher_error">
                  <option>Jons Albert</option>
                  <option>Suyag Fatol</option>
                </select>
                <div id="teacher_error" class="form-text error_message"></div>
              </div>



            </div>

            <div class="row">
              <div class="d-flex justify-content-center">
                <a href="/time_table_master" class="btn btn-primary">Submit</a>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block script %}
<script>
  $(document).ready(function() {


    jQuery(function ($) {

      var startDate = moment('{{academic_year.startdate}}');
      var endDate = moment('{{academic_year.enddate}}');
    
      function cb(start, end) {
        $('#daterange span').html(start.format('MMMM D, YYYY') + ' - ' + end.format('MMMM D, YYYY'));
      }
    
      $('#daterange').daterangepicker({
        startDate: startDate,
        endDate: endDate,
        minDate: startDate,
        maxDate: endDate,
        isInvalidDate: function (date) {
          return !(date >= startDate && date <= endDate);
        },
        ranges: {
          '{{academic_year.startdate_month_yyyy}} to {{academic_year.enddate_month_yyyy}}': [startDate, endDate],

          Today: [moment(), moment()],
          Yesterday: [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
          'Last 7 Days': [moment().subtract(6, 'days'), moment()],
          'Last 30 Days': [moment().subtract(29, 'days'), moment()],
          'This Month': [moment().startOf('month'), moment().endOf('month')],
          'Last Month': [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')]
          
        }
      }, cb);
    
      cb(startDate, endDate);
    
      // Use jQuery UI Datepicker for DOB input
      $('#spandatechange').on('DOMSubtreeModified', function () {
        //console.log('DOMSubtreeModified',spandatechange)
      });
    
    });
  });
</script>
{% endblock %}
