{% extends 'index.html' %}
{% load static %}
{% block head %}
<link rel="stylesheet" href="{% static 'css/time_table.css' %}"  />

{% endblock %}
{% block heading %}
  <span class="tab-title"><span class="px-1">Time Table Master</span></span>
{% endblock %}
{% block body %}
  <div class="row">


    <div class="col-lg-12 d-flex justify-content-end align-items-end mb-4">
      <div>
        <label for="classid" class="form-label">Class</label>
        <select id="classid" class="form-select select2" aria-describedby="class_error" onchange="updateWeek()">
          {% for class in classes %}
            <option value="{{ class.id }}">{{ class.ClassName }} </option>
          {% endfor %}
        </select>
        <div id="class_error" class="form-text error_message"></div>
      </div>
      <div class="mx-1">
        <a href="/time_table_master/add_time_table" class="btn btn-primary">Add Time Table</a>
      </div>

      <div>
        <a data-bs-toggle="modal" data-bs-target="#bulkuploadmodal" class="btn btn-primary">Bulk Upload </a>
        <div>
            <div class="modal fade" id="bulkuploadmodal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Time-Table Bulk Upload</h5>
                    <button class="close bg-transparent border-0" type="button" data-bs-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true"><i class="fa-solid fa-x"></i></span>
                    </button>
                  </div>
                  <div class="modal-body">
                    <div class="border p-4">
                        <div class="card-body">
                          <div class="">
                            <div class="card-body">
                              <div class="file-upload-box text-center">
                                <div class="px-2">
                                  <a class="btn btn-primary" title="download excel format" href="{% static 'Media/SampleExcels/timetable.xlsx'%}" download>Download Sample <i class="fa fa-download" aria-hidden="true"></i></a>
                                </div>
                                <div class="file-upload-btn">
                                  <input type="file" name="myfile" id="myfile" hidden="hidden" />
                                  <p id="custom-text">No file chosen, yet.</p>
                                  <button type="button" id="fileName" class="btn-primary btn excel-btn-info">Upload Excel File</button>
                                  <div class="mt-3">
                                  <a class="btn btn-primary" onclick="filevalidation();">Submit</a>
                                  </div>
                                </div>
                              
                                </div>
                            </div>
                          </div>
                        </div>
                      </div>
                  </div>
                </div>
              </div>
            </div>
        </div>
      </div>



    </div>





    </div>
  
  <div class="row">
    <div class="calendar-container">
      <div class="header">
          <button class="nav-buttons" id="prev-week"><i class="fa-solid fa-arrow-left"></i></button>
          <span id="current-week"></span>
          <button class="nav-buttons" id="next-week"><i class="fa-solid fa-arrow-right"></i></button>
      </div>
      <div class="row w-100">
          <div class="timetable border p-0">

              <div class="week-names">
                  <div id="monday">Monday</div>
                  <div id="tuesday">Tuesday</div>
                  <div id="wednesday">Wednesday</div>
                  <div id="thursday">Thursday</div>
                  <div id="friday">Friday</div>
                  <div id="saturday">Saturday</div>
                  <div id="sunday">Sunday</div>
              </div>



          </div>

          <div class="timetable border p-0">
            <div class="week-days">




  
 
      
                
         
        
                
        
                
            </div>
          </div>

      </div>

      
  </div>
  </div>
{% endblock %}

{% block script %}
<script src="https://unpkg.com/xlsx/dist/xlsx.full.min.js"></script>
<script src="https://unpkg.com/file-saver@2.0.5/dist/FileSaver.min.js"></script>
  <script>
    let currentDate = new Date();
    const currentWeekSpan = document.getElementById('current-week');
    const weekDays = ['monday', 'tuesday', 'wednesday', 'thursday', 'friday', 'saturday', 'sunday'];

    document.addEventListener('DOMContentLoaded', () => {



  
      document.getElementById('prev-week').addEventListener('click', () => {
          currentDate.setDate(currentDate.getDate() - 7);
          updateWeek();
      });
  
      document.getElementById('next-week').addEventListener('click', () => {
          currentDate.setDate(currentDate.getDate() + 7);
          updateWeek();
      });
  
      updateWeek(); // Initial call to display the current week
    });
    function updateWeek() {
        const startOfTheWeek = startOfWeek(new Date(currentDate));
        currentWeekSpan.textContent = `Week of ${formatDate(startOfTheWeek)}`;
        var datelist=[]
        weekDays.forEach((day, index) => {
            const dayElement = document.getElementById(day);
            const dayDate = new Date(startOfTheWeek);
            dayDate.setDate(startOfTheWeek.getDate() + index);
            datelist.push(formatDate_yy_mm_dd(dayDate))
            dayElement.textContent = `${day.charAt(0).toUpperCase() + day.slice(1)} (${formatDate(dayDate)})`;
        });

        get_time_table(datelist);

    }
    function startOfWeek(date) {
        const diff = date.getDate() - date.getDay() + (date.getDay() === 0 ? -6 : 1); // adjust when day is sunday
        return new Date(date.setDate(diff));
    }
    function formatDate(date) {
        const options = { month: 'short', day: 'numeric' };
        return date.toLocaleDateString(undefined, options);
    }
    function formatDate_yy_mm_dd(date) {
      const year = date.getFullYear();
      const month = String(date.getMonth() + 1).padStart(2, '0');
      const day = String(date.getDate()).padStart(2, '0');
      return `${year}-${month}-${day}`;
    }
    function get_time_table(datelist){
        var classid=$('#classid').val();
        console.log("datelist",datelist,classid);
        var fd = new FormData();    
        fd.append("datelist",JSON.stringify(datelist));
        fd.append("classid",classid);
        fd.append("csrfmiddlewaretoken","{{csrf_token}}");
        $.ajax({
        type: "POST",
        url: frontend_url+"time_table_master/get_class_time_table",
        data: fd,
        processData: false,
        contentType: false,
        
        success: function(response) {
            console.log("time",response)
            if(response.response.n ==1){
            var time_table_column=''
            $.each(response.data, function(index, dayObject) {
                $.each(dayObject, function(key, value) {
                    console.log('Key:', key, 'Value:', value);
                    time_table_column+=`
                    <div class="column">
                    ${value.map((entry, counter) => `
                        <div class="innerdiv `+entry.css+`">
                        <span>`+entry.Subject+`</span>
                        <span>`+entry.Teacher+`</span>
                        <span>`+entry.time+`</span>
                        </div>
                    `).join("\n")}
                    </div>
                    `

                });
            });


            $('.week-days').html(time_table_column)
            }else{
            Swal.fire({
                text: response.response.msg,
                icon: 'error',
            })
            }

    
        },
        });
    };




    const realFileBtn = document.getElementById("myfile");
    const customBtn = document.getElementById("fileName");
    const customTxt = document.getElementById("custom-text");
    
    customBtn.addEventListener("click", function() {
      realFileBtn.click();
    });
    
    realFileBtn.addEventListener("change", function() {
      if (realFileBtn.value) {
        customTxt.innerHTML = realFileBtn.value.match(
          /[\/\\]([\w\d\s\.\-\(\)]+)$/
        )[1];
      } else {
        customTxt.innerHTML = "No file chosen, yet.";
      }
    });
  
    $('#myfile').bind('change', function () {
      debugger;
      var filename = $("#myfile").val();
      var validExtensions = ['xls', 'xlsx']; // Array of valid extensions
      var fileExtension = filename.split('.').pop().toLowerCase(); // Get the file extension
  
      if (/^\s*$/.test(filename)) {
          $(".file-upload").removeClass('active');
          $("#custom-text").text("No file chosen...");
      } else if (validExtensions.indexOf(fileExtension) === -1) {
          $(".file-upload").removeClass('active');
          $("#custom-text").text("Invalid file type. Please choose an Excel file.");
          $("#myfile").val(''); // Clear the file input
      } else {
          $(".file-upload").addClass('active');
          $("#custom-text").text(filename.replace("C:\\fakepath\\", ""));
      }
    });
  

  
  function filevalidation(){
    debugger
    var file = $("#myfile")[0].files[0];

    if (file == "" || file == undefined) {
      event.preventDefault()

      Swal.fire({
                  text: "choose file!",
                  icon: "error",
              })
      return false;
    }
    else{
      
          var fd = new FormData();    
          fd.append("file",file);
          $.ajax({
            type: "POST",
            url: frontend_url+"time_table_master/timetable_bulk_upload",
            data: fd,
            processData: false,
            contentType: false,
            
            success: function(response) {
             

              if(response.response.n ==1){
                Swal.fire({
                  text: response.response.msg,
                  icon: 'success',
                }).then((result) => {
                  window.location.href = "/teacher_master";
          
                });
              }else{
                Swal.fire({
                  text: response.response.msg,
                  icon: 'error',
                })
                exportToExcel(response.headers, response.data)
              }
        
            },
          });
  
    }
  }

  function exportToExcel(headers, data) {
    var workbook = XLSX.utils.book_new();
    
    // Create worksheet
    var worksheet = XLSX.utils.aoa_to_sheet([]);
  
    // Add headers to the worksheet
    XLSX.utils.sheet_add_aoa(worksheet, [headers], { origin: "A1" });
  
    // Add data to the worksheet
    for (var i = 0; i < data.length; i++) {
      var rowData = Object.values(data[i]);
      XLSX.utils.sheet_add_aoa(worksheet, [rowData], { origin: "A" + (i + 2) });
    }
  
    XLSX.utils.book_append_sheet(workbook, worksheet, "Sheet1");
    var excelBuffer = XLSX.write(workbook, { bookType: 'xlsx', type: 'array' });
    
    // Convert buffer to a Blob
    var blob = new Blob([excelBuffer], { type: 'application/vnd.openxmlformats-officedocument.spreadsheetml.sheet' });
    
    // Save the file using FileSaver.js
    saveAs(blob, "failed_Teachers.xlsx");
  }



  </script>
{% endblock %}
