.childddcount{
border: 1px solid lightgrey;
border-radius: 6px;
display: flex;
justify-content: space-between;
text-align: center;
align-items: center;
}
.quantitybtnspan{
    background: #2e121270;
}

.preview-img{
    width:50px;
    height:50px;
}

.quantitybtn{
    color: black;
}

.student-card {
    background: #fff;
    min-height: 50px;
    position: relative;
    margin-bottom: 24px;
    border: 1px solid #f2f4f9;
    border-radius: 10px;
    box-shadow: 0 0 10px #b7c0ce33;
    -webkit-box-shadow: 0 0 10px 0 rgba(183, 192, 206, .2);
    margin: 10px 0;
}
.border-apply {
    box-shadow: 0 2px 10px #0003 !important;
}
.contact-grid {
    float: left;
    width: 100%;
    text-align: center;
    box-shadow: 0 2px 10px #0003 !important;

}
.profile-header {
    min-height: 150px;
    color: #fff;
}
.student-card .bg-red, .student-card .bg-pink, .student-card .bg-purple, .student-card .bg-indigo, .student-card .bg-blue, .student-card .bg-cyan, .student-card .bg-teal, .student-card .bg-green, .student-card .bg-yellow, .student-card .bg-orange, .student-card .bg-deep-orange, .student-card .bg-brown, .student-card .bg-grey, .student-card .bg-black {
    border-bottom: none !important;
    color: #fff !important;
}
.user-name {
    padding: 10px 3px 3px;
    font-size: 22px;
    text-align: center;
    text-transform: capitalize;
    font-weight: 600;
  }
.user-img {
    border-radius: 10px;
    max-width: 112px;
    margin-top: -70px;
    box-shadow: 0 10px 25px #0000004d;
    margin-bottom: 20px;
    height: 135px;
}
.contact-grid .phone .material-icons {
    font-size: 16px;
    padding: 4px 7px 40px 0;
    
}
.profile-userbuttons {
    text-align: center;
    margin: 30px;
}
.bg-cyan {
    background-color: #00bcd4 !important;
    color: #fff;
}

  
 

  

  
  .accordion .pagenav ul {
    display: none; /* hides all ul content by default (see exceptions in JS) */
    padding: 5px;
    margin: 0;
  }
  

  

  .accordion .pagenav h4 i {
    font-size: 16px;
    line-height: 20px;
    transition: .2s;
    -webkit-transition: .2s;
    -ms-transition: .2s;
  }
  
  .accordion .pagenav.open h4 .fa-angle-right {
    transform: rotate(90deg);
  }
  

  


.Checkbox {
    cursor: pointer;
  }
  
  .label--checkbox {
    position: relative;
    margin: 0.5rem;
    font-family: Arial, sans-serif;
    line-height: 135%;
    cursor: pointer;
  }
  
  .Checkbox {
    position: relative;
    top: -0.375rem;
    margin: 0 1rem 0 0;
    cursor: pointer;
  }
  .Checkbox:before {
    -webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
    content: "";
    position: absolute;
    left: 0;
    z-index: 1;
    width: 1rem;
    height: 1rem;
    border: 2px solid #d2d2d2;
  }
  .Checkbox:checked:before {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
    height: 0.5rem;
    border-color: #00960e;
    border-top-style: none;
    border-right-style: none;
  }
  .Checkbox:after {
    content: "";
    position: absolute;
    top: -0.125rem;
    left: 0;
    width: 1.1rem;
    height: 1.1rem;
    background: #fff;
    cursor: pointer;
  }
  
  @-webkit-keyframes slideUp {
    0% {
      -webkit-transform: translateY(6.25rem);
      transform: translateY(6.25rem);
    }
    100% {
      -webkit-transform: translateY(0);
      transform: translateY(0);
    }
  }
  @keyframes slideUp {
    0% {
      -webkit-transform: translateY(6.25rem);
      transform: translateY(6.25rem);
    }
    100% {
      -webkit-transform: translateY(0);
      transform: translateY(0);
    }
  }
.hexagon {
    width: 100px;
    margin: 0 auto;
    clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
    padding: 20px;
    fill: white;
    filter:invert();
    -webkit-filter:invert();
}
.bg_red_cover{
  background-color: #ff448e;

}
.bg_yellow_cover{
  background-color: #ff6363;

}
.bg_purple_cover{
  background-color: #3ff9ff;

}
.bg_blue_cover{
  background-color: #1593e9;

}