{% extends "index.html" %}
{% load static %}
{% block head %}
<style>
body{
  background-color:#f1f1f2;
}

#tile-1 .tab-pane{
  padding:15px;
  height:80px;
}
#tile-1 .nav-tabs{
  position:relative;
  border:none!important;
  background-color:#fff;
box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);
  border-radius:6px;
}
#tile-1 .nav-tabs li
{
  margin:0px!important;
}
#tile-1 .nav-tabs li a
{
  position:relative;
  margin-right:0px!important;
  padding: 20px 40px!important;
  font-size:16px;
  border:none!important;
  color:#333;
}
#tile-1 .nav-tabs a:hover
{
  background-color:#fff!important;
  border:none;
}
#tile-1 .slider
{
  display:inline-block;
  width:30px;
  height:4px;
  border-radius:3px;
  background-color:#995dff;
  position:absolute;
  z-index:1200;
  bottom:0;
  transition:all .4s linear;
  
}
#tile-1 .nav-tabs .active
{
  background-color:transparent!important;
  border:none!important;
  color:#995dff !important;
}
</style>

{% endblock %}
{% block heading %}
<span class="tab-title">
    <span class="px-1">Generate Marksheet</span>
</span>
{% endblock %}
{% block body %}

<div class="row justify-content-end">
  
  <div class="mb-3 col-lg-3">
    <label for="academic_year" class="form-label">Academic Year</label>
    <select id="academic_year" class="form-select select2" aria-describedby="academic_year_error">
      {% for year in academic_years %}
      <option value="{{ year.id }}">{{ year.startdate_month_yyyy }} to {{ year.enddate_month_yyyy }}</option>
      {% endfor %}
    </select>
    <div id="academic_year_error" class="form-text error_message"></div>
  </div>

  <div class="mb-3 col-lg-3">
    <label for="exam" class="form-label">Exam Name</label>
    <select id="exam" class="form-select select2" aria-describedby="class_error">
      {% for ename in exam_names %}
        <option value="{{ ename.id }}">{{ ename.Name }} </option>
      {% endfor %}

    </select>
    <div id="class_error" class="form-text error_message"></div>
  </div>
  <div class="mb-3 col-lg-3">
    <label for="classid" class="form-label">Class</label>
    <select id="classid" class="form-select select2" aria-describedby="class_error">
      {% for class in classes %}
      <option value="{{ class.id }}">{{ class.ClassName }} </option>
      {% endfor %}

    </select>
    <div id="class_error" class="form-text error_message"></div>
  </div>


<div class="my-auto col-lg-3 d-flex justify-content-evenly">
  <div>
    <a class="btn btn-primary" onclick="search_student();">Apply</a>
  </div>
  <div id="Generate_Marksheet_ClassDiv" style="display: none;">
    <a class="btn btn-primary" onclick="generate_student_marksheet();">All Marksheet</a>
  </div>
</div>
</div>
<div class="row">
  <table id="studentple" class="table table-striped table-bordered" style="width:100%">
    <thead>
      <tr>
        <th><input type="checkbox" class="Checkbox" name="" id="selectall" onclick="toggle(this);"> Sr.No</th>
        <th>Name</th>
        <th>Class</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody id="table_body">


    </tbody>

  </table>
</div>


{% endblock %}

{% block script %}

<script>
  $(document).ready(function () {
    //new DataTable('#studentple');
    search_student();
  });

  function toggle(source) {
    
    var checkboxes = document.getElementsByName('student');
    for (var i = 0; i < checkboxes.length; i++) {
      checkboxes[i].checked = source.checked;
    }
    console.log("source.checked",source.checked)
    if ($("#selectall").is(":checked")) {
      $("#Generate_Marksheet_ClassDiv").show();
    } else {
        $("#Generate_Marksheet_ClassDiv").hide();
    }

  }

  function search_student() {
    var yearid = $('#academic_year').val();
    var classid = $('#classid').val();
    var exam_id = $('#exam').val();

    var fd = new FormData();
    fd.append("class", classid);
    fd.append("yearid", yearid);
    fd.append("exam_id", exam_id);

    fd.append("csrfmiddlewaretoken", "{{csrf_token}}");
    $.ajax({
      type: "POST",
      url: frontend_url + "student/student_list",
      data: fd,
      processData: false,
      contentType: false,

      success: function (response) {
        console.log("student_list", response)
        if (response.response.n == 1) {
          var trhtml = ''

          counter = 1
          $.each(response.data, function (o, i) {
            trhtml += `
            <tr>
              <td><input type="checkbox" class="Checkbox" name="student" id="" value="`+ i.studentId_id + `"> ` + counter + `</td>
              <td>`+ i.studentId + `</td>
              <td>`+ i.classid + `</td>
              <td>
                <a onclick="generate_student_marksheet();" class="btn btn-primary">Generate Marksheet</a>
              </td>
          </tr>`
            counter += 1

          });
          $('#table_body').html(trhtml)

          Swal.fire({
            text: response.response.msg,
            icon: 'success',
          })
        } else {
          Swal.fire({
            text: response.response.msg,
            icon: 'error',
          })
        }


      },
    });
  }

  function generate_student_marksheet() {
    debugger
    var selectedCheckboxes = document.querySelectorAll('input[name="student"]:checked');
    var selectedValues = [];
    selectedCheckboxes.forEach(function (checkbox) {
      selectedValues.push(checkbox.value);
    });
    console.log("Selected checkboxes: " , selectedValues);

    var yearid = $('#academic_year').val();
    var classid = $('#classid').val();
    var exam_id = $('#exam').val();

    var fd = new FormData();
    fd.append("class", classid);
    fd.append("yearid", yearid);
    fd.append("exam_id", exam_id);
    fd.append("studentidlist", JSON.stringify(selectedValues));
    fd.append("csrfmiddlewaretoken", "{{csrf_token}}");
    $.ajax({
      type: "POST",
      url: frontend_url + "marksheet/generate_marksheet",
      data: fd,
      processData: false,
      contentType: false,

      success: function (response) {
        console.log("student_marksheet", response)
        if (response.response.n == 1) {

          var containerContent = ''

          counter = 1
          $.each(response.data.marksheet_list, function (o, i) {
            if(i.n==1){
            if(i.school_info.school_logo ==''||i.school_info.school_logo ==null){
              school_logo=frontend_url+'/static/assets/images/logos/school_logo.jpg'
            }else{
              school_logo=frontend_url+i.school_info.school_logo

            }
            if(i.student_info.photo ==''||i.student_info.photo ==null){
              photo='<img src="'+frontend_url+'/static/assets/images/profile/profile.png" width="100" height="100" alt="">'
            }else{
              photo='<iframe width="100" height="100" src="'+i.student_info.photo+'" frameborder="0" scrolling="no" style="overflow:hidden;" allowfullscreen></iframe>              '
              

            }
            containerContent += `


            

            <div style="font-family: math;width: 100vw;height: 100vh;display: flex;align-items: center;justify-content: center;">
              <div class="row">
                  <div style="display: flex; flex-flow: column; justify-content: space-evenly;border:4px double #01438e;padding: 15px;" >
          
                      <!-- Section 0 School info + img -->
                      <div style="display: flex;justify-content: space-between;flex-wrap: nowrap;">
                          <div>
                              <img src="`+school_logo+`" width="100" height="100" alt="">
                          </div>
                          <div style="text-align: center;font-family: serif;padding: 0 15px;color: #01438e;">
                                  <h1 style="text-transform:capitalize;">`+i.school_info.Name+`</h1>
                                  <h3>`+i.school_info.Location+`</h3>
                                  <h4 style="font-weight: 700;color: #01438e;">Statement of Grades</h4>
                          </div>
                          <div>
                            `+photo+`
                              
                          </div>
                      </div>
                      
                      <!-- Section 1 Info-->
                     
                      <div id="student_info" style="display: flex;justify-content: space-between;font-weight: 600;font-size: 14px;padding: 20px 0;">
                          <div>
                              <div style="padding:3px 0;"><span style="font-weight: 700;color: #01438e;">Name Of Student: </span><span>`+i.student_info.StudentName+`</span></div>
                              <div style="padding:3px 0;"><span style="font-weight: 700;color: #01438e;">Parent Name:</span> <span>`+i.ParentName+`</span></div>
                              <div style="padding:3px 0;"><span style="font-weight: 700;color: #01438e;">Roll No: </span><span>`+i.roll_no+`</span></div>
                          </div>
                          <div>
                              <div style="padding:3px 0;"><span style="font-weight: 700;color: #01438e;">Examination:</span> <span>`+i.exam_name+` (`+i.academic_year+`)</div>
                              <div style="padding:3px 0;"><span style="font-weight: 700;color: #01438e;">Class:</span> <span>`+i.class_name+`</span></div>
                              <div style="padding:3px 0;"><span style="font-weight: 700;color: #01438e;">Student Code: </span><span>`+i.student_info.StudentCode+`	</span></div>
                          </div>
                      </div>
          
                      <!-- Section 2 Middle One Table-->
                      <div style="height: 30rem;">
                          <table id="table" style="border-collapse: collapse; width: 100%;">
                              <!-- HEADINGS -->
                              <thead>
                                  <tr>
                                      <th style="font-size: 12px;text-transform: capitalize;color: #01438e;padding: 0.5rem;border: 1px solid #01438e; width:5%;">SR.NO</th>
                                      <th style="font-size: 12px;text-transform: capitalize;color: #01438e;padding: 0.5rem;border: 1px solid #01438e; width:55% !important;">SUBJECT</th>
                                      <th style="font-size: 12px;text-transform: capitalize;color: #01438e;padding: 0.5rem;border: 1px solid #01438e; width:20%;">OBTAINED MARKS</th>
                                      <th style="font-size: 12px;text-transform: capitalize;color: #01438e;padding: 0.5rem;border: 1px solid #01438e; width:20%;">OUT OF MARKS</th>
                                  </tr>
                              </thead>
          
                              <!-- QURAN -->
                              <tbody>

                                ${i.exam_time_table.map((entry, index) => `
                                  <tr>
                                    <td style="padding: 0.5rem;border: 1px solid #01438e;">${index + 1}</td>
                                    <td style="padding: 0.5rem;border: 1px solid #01438e;">`+entry.SubjectId+`</td>
                                    <td style="padding: 0.5rem;border: 1px solid #01438e;">`+entry.ObtainedMarks+`</td>
                                    <td style="padding: 0.5rem;border: 1px solid #01438e;">`+entry.totalMarks+`</td>
                                  </tr>
                                `).join("\n")}

                                  <tr>
                                      <td style="padding: 0.5rem;border: 1px solid #01438e;" colspan="2" style="text-align:right;padding:0 30px 0 0 ;" style="font-weight: 700;color: #01438e;">Total</td>
                                      <td style="padding: 0.5rem;border: 1px solid #01438e;">`+i.all_subject_total_marks_obtain+`</td>
                                      <td style="padding: 0.5rem;border: 1px solid #01438e;">`+i.all_subject_total_marks+`</td>
                                  </tr>
                              </tbody>
          
                              <!-- HIFZ -->
                             
                          </table>
                      </div>
          
                      <!-- Section 3 Footers-->
                      <div class="row">
                          <div style="font-weight:700; padding:10px 0; display:flex; justify-content:space-between;"><span><span style="font-weight: 700;color: #01438e;">Status :</span>  <span>`+i.Status+`</span></span>  <span><span style="font-weight: 700;color: #01438e;">Percentage :</span>  <span>`+i.Percentage+`%</span></span></div>
                          <div style="display:flex;justify-content: space-between;margin: 50px 0 10px 0;">
                              <div><span style="font-weight: 700;color: #01438e;">Prepared By :________________ </span> </div>
                              <div><span style="font-weight: 700;color: #01438e;">Checked By : ________________</span> </div>
                              <div><span style="font-weight: 700;color: #01438e;">Controller Of Examination </span> </div>
                          </div>
                      </div>
                      
                  </div>
              </div>
          </div>



            `
          }
          else{
            containerContent +=`
            <div style="font-family: math;width: 100vw;height: 100vh;display: flex;align-items: center;justify-content: center;">
              `+i.reason+`
            </div>
            `
          }
            counter += 1

          });
          document.body.innerHTML = containerContent;

          if (window.print()) {
            return false;
          } else {
            location.reload();
          }

        } else {
          Swal.fire({
            text: response.response.msg,
            icon: 'error',
          })
        }


      },
    });
  }















  function generate_marksheet_filter() {

    userlist = []

      $(".multiplecheckchild:checked").each(function(){
        userlist.push($(this).val());
    });

    console.log(userlist)

    Swal.fire({
      text: 'Are you sure you want to generate all this student marksheet?',
      showCancelButton: true,
      confirmButtonColor: '#3085d6',
      cancelButtonColor: '#d33',
      confirmButtonText: 'Yes',
      cancelButtonText: 'No',
      position: 'top',
      customClass: {
        confirmButton: 'swal-button',
        cancelButton: 'swal-button'
      }
    })
      .then((result) => {
        if (result.isConfirmed) {
          console.log("userlistsss",userlist)
          $.ajax({
            url: frontend_url + "student/student_list",
            data: {
              'studentId': JSON.stringify(userlist),
              csrfmiddlewaretoken: '{{ csrf_token }}'
            },
            type: 'POST',
            success: function (response) {
              console.log("assss", response)
              if (response.status == 1) {
                Swal.fire("Student marksheet have been generate!", {
                  icon: "success",
                  timer: 1000,
                  buttons: false,
                });
                setTimeout(
                  function() 
                  {
                      window.location.href = frontend_url+"generate_marksheet";
                  }, 2000);
              } else {
                Swal.fire("Poof! Your Student marksheet has not been generate!", {
                  icon: "error",
                  timer: 1000,
                  button: "Close",
                });
              }
            }
          });

        } else {
          Swal.fire("Your Student marksheet has not been generate!", {
            icon: "error",
            timer: 1000,
            buttons: false,
          });
        }
      });
  }

</script>
{% endblock %}