{% extends "index.html" %}
{% load static %}
{% block head %}
<style>
body{
  background-color:#f1f1f2;
}
{% comment %} .tile{
  width:80%;
  margin:60px auto;
} {% endcomment %}
#tile-1 .tab-pane{
  padding:15px;
  height:80px;
}
#tile-1 .nav-tabs{
  position:relative;
  border:none!important;
  background-color:#fff;
box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);
  border-radius:6px;
}
#tile-1 .nav-tabs li
{
  margin:0px!important;
}
#tile-1 .nav-tabs li a
{
  position:relative;
  margin-right:0px!important;
  padding: 20px 40px!important;
  font-size:16px;
  border:none!important;
  color:#333;
}
#tile-1 .nav-tabs a:hover
{
  background-color:#fff!important;
  border:none;
}
#tile-1 .slider
{
  display:inline-block;
  width:30px;
  height:4px;
  border-radius:3px;
  {% comment %} background-color:#39bcd3; {% endcomment %}
  background-color:#995dff;
  position:absolute;
  z-index:1200;
  bottom:0;
  transition:all .4s linear;
  
}
#tile-1 .nav-tabs .active
{
  background-color:transparent!important;
  border:none!important;
  color:#995dff !important;
}
</style>

{% endblock %}
{% block heading %}
<span class="tab-title">
    <span class="px-1">Upload Marksheet</span>          

</span>
{% endblock %}
{% block body %}

  <div class="card">
    <div class="card-body row justify-content-end px-4">
      <h5 class="card-title fw-semibold mb-4">Upload Marksheets </h5>
      <div class="card ">
        <div class="card-body">
          <div class="row">
              <div class="row">
                <div class="mb-3 col-lg-4">
                  <label for="academic_year" class="form-label">Academic Year</label>
                  <select id="AcademicYearId" class="form-select select2" name="AcademicYearId" aria-describedby="academic_year_error">
                    <option value="" selected>Please select academic year</option>
                    {% for year in academic_years %}
                    <option value="{{ year.id }}">{{ year.startdate_month_yyyy }} to {{ year.enddate_month_yyyy }}</option>
                    {% endfor %}
                  </select>
                  <div id="academic_year_error" class="form-text error_message"></div>
                </div>
        
                <div class="mb-3 col-lg-4">
                  <label for="classid" class="form-label">Exam Name</label>
                  <select id="Name" class="form-select select2" name="Exam" aria-describedby="exam_name_error">
                    <option value="" selected>Please select Exam Name</option>
                    {% for ename in exam_name %}
                    <option value="{{ ename.id }}">{{ ename.Name }} </option>
                    {% endfor %}
        
                  </select>
                  <div id="exam_name_error" class="form-text error_message"></div>
                </div>

                <div class="mb-3 col-lg-4">
                  <label for="classid" class="form-label">Class</label>
                  <select id="classid" class="form-select select2" name="ClassId" aria-describedby="class_name_error">
                    <option value="" selected>Please select class</option>
                    {% for class in classes %}
                    <option value="{{ class.id }}">{{ class.ClassName }} </option>
                    {% endfor %}
        
                  </select>
                  <div id="class_name_error" class="form-text error_message"></div>
                </div>
        
                <div class="mb-3 col-lg-3">
                </div>

                <div class="mb-3 col-lg-3">

                    <input type="file" id="myfile" onchange="validateExcelFile(this);" name="file" class="btn btn-primary w-100 form-control" aria-describedby="myfile_error">
                    <div id="myfile_error" class="form-text error_message"></div>
        
                </div>

                <div class="mb-3 col-lg-3">

                    <a class="btn btn-primary w-100 form-control" title="Download excel format" href="{% static 'Media/SampleExcels/marksheet.xlsx'%}" download>Download Sample<i class="fa fa-download" aria-hidden="true"></i></a>

        
                </div>
                <div class="mb-3 col-lg-3">
                </div>
                <div class="col-lg-12" style="display:flex; justify-content:center;">
                  <button class="btn btn-primary" onclick="return validate_form();" type="submit">Submit</button>
                </div>
              </div>
          </div>

        </div>
      </div>
    </div>
  </div>

{% endblock %}

{% block script %}
<script src="https://cdn.rawgit.com/rainabba/jquery-table2excel/1.1.0/dist/jquery.table2excel.min.js"></script>
<script src="https://unpkg.com/xlsx/dist/xlsx.full.min.js"></script>
<script src="https://unpkg.com/file-saver@2.0.5/dist/FileSaver.min.js"></script>

<script>

  function validate_form(){
    debugger
    var academic_year=$('#AcademicYearId').val();
    var exam_name=$('#Name').val();
    var class_name=$('#classid').val();
    var myfile=$('#myfile').val();
    var file = $("#myfile")[0].files[0];


    if(IsValid(academic_year)){
      $('#academic_year').html();
      $('#academic_year_error').show().delay(3000).slideUp();
      $('#academic_year_error').html('Please select academic year');
      $('#academic_year').focus();
      return false;
    }
    if(IsValid(exam_name)){
      $('#exam_name').html();
      $('#exam_name_error').show().delay(3000).slideUp();
      $('#exam_name_error').html('Please select exam');
      $('#exam_name').focus();
      return false;
    }
    if(IsValid(class_name)){
      $('#class_name').html();
      $('#class_name_error').show().delay(3000).slideUp();
      $('#class_name_error').html('Please select class');
      $('#class_name').focus();
      return false;
    }
    if(IsValid(myfile)){
      $('#myfile').html();
      $('#myfile_error').show().delay(3000).slideUp();
      $('#myfile_error').html('Please select excel file');
      $('#myfile').focus();
      return false;
    }
    var fd = new FormData();
    fd.append("AcademicYearId", academic_year);
    fd.append("Exam", exam_name);
    fd.append("ClassId", class_name);
    fd.append("file", file);

    fd.append("csrfmiddlewaretoken", "{{csrf_token}}");
    $.ajax({
      type: "POST",
      url: frontend_url + "upload_marksheet",
      data: fd,
      processData: false,
      contentType: false,

      success: function (response) {
        if (response.response.n == 1) {


          Swal.fire({
            text: response.response.msg,
            icon: 'success',
          }).then((result) => {
            window.location.href =          window.location.href;
          });

        } else if (response.response.n == 2) {
          Swal.fire({
            text: response.response.msg,
            icon: 'error',
          })
          exportToExcel(response.headers,response.data)
        }else {
          Swal.fire({
            text: response.response.msg,
            icon: 'error',
          })

        }


      },
    });

  }
  function validateExcelFile(input) {
    debugger
    var file = input.files[0];
    var allowedExtensions = /(\.xls|\.xlsx|\.csv)$/i;

    var errorMessage = $('#'+input.getAttribute('aria-describedby'));
    if (file && !allowedExtensions.exec(file.name)) {
        input.value = '';  // Clear the input value
        errorMessage.show().delay(3000).slideUp();
        errorMessage.html('Invalid file format. Please upload an Excel file.');
        input.focus();
        return false;
    } else {
        errorMessage.html('');  // Clear any previous error message
    }
  }

  function exportToExcel(headers, data) {
    var workbook = XLSX.utils.book_new();
    
    // Create worksheet
    var worksheet = XLSX.utils.aoa_to_sheet([]);
  
    // Add headers to the worksheet
    XLSX.utils.sheet_add_aoa(worksheet, [headers], { origin: "A1" });
  
    // Add data to the worksheet
    for (var i = 0; i < data.length; i++) {
      var rowData = Object.values(data[i]);
      XLSX.utils.sheet_add_aoa(worksheet, [rowData], { origin: "A" + (i + 2) });
    }
  
    XLSX.utils.book_append_sheet(workbook, worksheet, "Sheet1");
    var excelBuffer = XLSX.write(workbook, { bookType: 'xlsx', type: 'array' });
    
    // Convert buffer to a Blob
    var blob = new Blob([excelBuffer], { type: 'application/vnd.openxmlformats-officedocument.spreadsheetml.sheet' });
    
    // Save the file using FileSaver.js
    saveAs(blob, "data.xlsx");
  }

</script>
{% endblock %}