{% extends 'index.html' %}
{% load static %}
{% block head %}

{% endblock %}

{% block heading %}
  <span class="tab-title"><i class="fa-solid fa-user"></i> <span class="px-1">Add Parent Student</span></span>
{% endblock %}

{% block body %}
  <div class="card">
    <div class="card-body">
      <h5 class="card-title fw-semibold mb-4">Add Parent Student Forms</h5>
      <div class="card">
        <div class="card-body">
          <form>
            <div class="row">
              <div class="mb-3 col-lg-3">
                <label for="parent_name" class="form-label">Parent Name</label>
                <input type="text" class="form-control" id="parent_name" placeholder="Please enter parent name" aria-describedby="parent_name_error" oninput="this.value = this.value.replace(/[^a-zA-Z ]+/g,'').replace(/(\..*)\./g, '$1');" />
                <div id="parent_name_error" class="form-text error_message"></div>
              </div>

              <div class="mb-3 col-lg-3">
                <label for="parent_email" class="form-label">Parent Email</label>
                <input type="text" class="form-control" id="parent_email" placeholder="Please enter parent email" aria-describedby="parent_email_error" oninput="email_validate('parent_email')"/>
                <div id="parent_email_error" class="form-text error_message"></div>
              </div>

              <div class="mb-3 col-lg-3">
                <label for="parent_contact" class="form-label">Contact No</label>
                <input type="text" class="form-control" id="parent_contact" placeholder="Please enter parent contact" aria-describedby="parent_contact_error" maxlength="10" oninput="this.value = this.value.replace(/[^0-9]+/g,'').replace(/(\..*)\./g, '$1');" />
                <div id="parent_contact_error" class="form-text error_message"></div>
              </div>

              <div class="mb-3 col-lg-3">
                <label for="children_count" class="form-label">No of Children</label>
                <div><span class="quantity_Id" id="child_count">0</span><span class="quantitybtnspan"><button type="button" class="btn quantitybtn plus-btn" id="addquantity2" onclick="addchild()">+</button></span></div>
                <div id="children_count_error" class="form-text error_message"></div>
              </div>







            </div>


            <div class="form-row" id="child-table">
              <table class="table">
               <thead>
                <tr>
                 <th class="text-center">S.N.</th>
                 <th class="text-center">Student Name</th>
                 <th class="text-center">Student Class</th>
                  <th class="text-center">Date of Birth</th>
                  <th class="text-center">Date of Joining</th>
                  <th class="text-center">Blood Group</th>
                  <th></th>
               </tr>
             </thead>
             <tbody id="Childinfotable">
            
             
               
               
             </tbody>
           </table>
         </div>



            <div class="row">

              <div class="mb-3 col-lg-12">
                <label for="address" class="form-label"> Address</label>
                <textarea class="form-control" name="address" id="address" cols="30" rows="5" aria-describedby="address_error"></textarea>
                <div id="address_error" class="form-text error_message"></div>
              </div>
              
            </div>

            <div class="row">
              <div class="d-flex justify-content-center">
                <a onclick="validate_form();" class="btn btn-primary">Submit</a>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block script %}
<script>
  $(document).ready(function() {
    $('#children1_class').select2();
    $('#children_count').select2();
    $('#children1_blood_group').select2();
    flatpickr(".date_of_birth", {
      dateFormat: "d-m-Y",
    });
    flatpickr(".date_of_joining", {
      dateFormat: "d-m-Y",
    });

  });

  function addchild(){
    var ccount=$('#child_count').text();
    var inccount = parseInt(ccount) + 1;
   $('#child_count').text(inccount);
   add_childern_feilds()
  }


counter=1
var counterlist = []
  function add_childern_feilds(){
    var count=$('#child_count').text();
    var trHTML=''
    $.ajax({
     type: 'POST',
      url: frontendURL+'parent_student_master/add_parent_student',
      dataType: 'json',
      data:{
        csrfmiddlewaretoken: '{{ csrf_token }}',
        
      },
     
      success: function (response) {   
        console.log("response",response)
      trHTML+=`
      <tr class="countchildren" id="rowd`+counter+`">
        <th scope="row" class="text-center srNumber">`+counter+`</th>

        <td class="text-center"> <input type="text" class="form-control"  id="childname`+counter+`"  placeholder="Please enter children name" aria-describedby="childnameerror`+counter+`" />
        <div id="childnameerror`+counter+`" class="form-text error_message"></div></td>

        <td class="text-center">
          <select id="childclass`+counter+`" class="form-select" aria-describedby="childclasserror`+counter+`">
          
        </select>
        <div id="childclasserror`+counter+`" class="form-text error_message"></div>
        </td>

        <td class="text-center">
          <input type="text" class="form-control date_of_birth" id="child_dateofbirth`+counter+`" placeholder="Please select children DOB" aria-describedby="child_dateofbirtherror`+counter+`"  readonly/>
        <div id="child_dateofbirtherror`+counter+`"  class="form-text error_message"></div>
          </td>

        <td class="text-center">
          <input type="text" class="form-control date_of_joining" id="child_dateofjoining`+counter+`"  placeholder="Please select children DOJ" aria-describedby="child_dateofjoiningerror`+counter+`" readonly/>
        <div id="child_dateofjoiningerror`+counter+`"   class="form-text error_message"></div>
          </td>

        <td class="text-center">
          <select id="child_bloodgroup`+counter+`"   class="form-select" aria-describedby="child_bloodgrouperror`+counter+`" >
          <option value="A+">A+</option>
          <option value="A-">A-</option>
          <option value="B+">B+</option>
          <option value="B-">B-</option>
          <option value="AB+">AB+</option>
          <option value="AB-">AB-</option>
          <option value="O+">O+</option>
          <option value="O-">O-</option>
        </select>
        <div id="child_bloodgrouperror`+counter+`" class="form-text error_message"></div>
          </td>

        <td class="text-left"><a href="javascript:void(0);" class="view-btn" id="delete`+counter+`" onclick="deleteChild(`+counter+`)"><i class="fa-solid fa-trash-can text-danger mx-1"></i></a></td>
        
      </tr>
      `
    $('#Childinfotable').append(trHTML)
    $(".srNumber").each(function(i,v){
          $(v).text(i+1);
      })
      counterlist.push(counter)
      counter=counter+1;
      
      // $.each(classlist, function(index, value){  
      //         classOpt += `<option value="` + value.id + `">` + value.balancequantity + `</option>`;           
      //       });
      //       $("children_class"+counter).html(sizeColorOpt);

      flatpickr(".date_of_birth", {
      dateFormat: "d-m-Y",
    });
    flatpickr(".date_of_joining", {
      dateFormat: "d-m-Y",
    });
    lengthtr=$('#child-table tbody tr').length;
    $('#child_count').text(lengthtr);
  }
   })     
  }


  function deleteChild(childid){  
  var productRowCount = $(".countchildren").length
  counterlist.splice(counterlist.indexOf(childid),1)
  $("#rowd"+childid).remove(); 
  $('tbody').find('tr').each(function (index) {
    var firstTDDomEl = $(this).find('th')[0];
    var $firstTDJQObject = $(firstTDDomEl);
    $firstTDJQObject.text(index + 1);
  });
  lengthtr=$('#child-table tbody tr').length;
    $('#child_count').text(lengthtr);
}

function studentlist(){
  var x = document.getElementById("snackbar");
  x.className = "show";
  setTimeout(function(){ x.className = x.className.replace("show", ""); }, 3000); 
   var studentlist = [];
   var counter = 0;
    lengthtr=$('#child-table tbody tr').length;
    $(counterlist).each(function(o,i){
      var childname= $('#childname'+i).text();
      var childclass = $('#productValue'+i).text();
      var dateofbirth = $('#Availquantity'+i).val();
      var dateobjoining = $('#Requiredqty'+i).val();
      var bloodgroup = $('#balanceqty'+i).val();
      data = { 'childname': childname, 'childclass':childclass,'dateofbirth':dateofbirth,'dateobjoining': dateobjoining,'bloodgroup':bloodgroup}
      studentlist.push(data)
    })
  }

  function validate_form(){
    var parent_name=$('#parent_name').val();
    var parent_email=$('#parent_email').val();
    var parent_contact=$('#parent_contact').val();
    var address=$('#address').val();

    if(IsValid(parent_name)){
      $('#parent_name').html();
      $('#parent_name_error').show().delay(3000).slideUp();
      $('#parent_name_error').html('Please enter parent name');
      $('#parent_name').focus();
      return false;
    }
    if(IsValid(parent_email)){
      $('#parent_email').html();
      $('#parent_email_error').show().delay(3000).slideUp();
      $('#parent_email_error').html('Please enter parent email');
      $('#parent_email').focus();
      return false;
    }
    if(email_validate('parent_email') == false){
      $('#parent_email').html();
      $('#parent_email_error').show().delay(3000).slideUp();
      $('#parent_email_error').html('Please enter parent valid email ');
      $('#parent_email').focus();
      return false;
    }
    if(IsValid(parent_contact)){
      $('#parent_contact').html();
      $('#parent_contact_error').show().delay(3000).slideUp();
      $('#parent_contact_error').html('Please enter parent contact number');
      $('#parent_contact').focus();
      return false;
    }
    if(mobile_validate('parent_contact') == false){
      $('#parent_contact').html();
      $('#parent_contact_error').show().delay(3000).slideUp();
      $('#parent_contact_error').html('Please enter parent contact number ');
      $('#parent_contact').focus();
      return false;
    }
    if(validate_child() == false){
      return false;
    }
    if(IsValid(address)){
      $('#address').html();
      $('#address_error').show().delay(3000).slideUp();
      $('#address_error').html('Please enter address');
      $('#address').focus();
      return false;
    }else{
      Swal.fire({
        title: 'Successful !',
        text: 'This is a SweetAlert dialog.',
        icon: 'success',
      }).then((result) => {
        window.location.href = "/parent_student_master";

      });

    }
  }
  function validate_child(){
    debugger
    var count=$('#children_div').attr('count');
    console.log("count",count);
    var status=true
    for (var i = 0; i < count; i++) {
      var counter= i + 1

      var children_name=$('#children'+counter+'_name').val();
      var children_class=$('#children'+counter+'_class').val();
      var children_date_of_birth=$('#children'+counter+'_date_of_birth').val();
      var children_blood_group=$('#children'+counter+'_blood_group').val();
      var children_date_of_joining=$('#children'+counter+'_date_of_joining').val();

  
      if(IsValid(children_name)){
        $('#children'+counter+'_name').html();
        $('#children'+counter+'_name_error').show().delay(3000).slideUp();
        $('#children'+counter+'_name_error').html('Please enter children name');
        $('#children'+counter+'_name').focus();
        status= false;
      }
      if(IsValid(children_class)){
        $('#children'+counter+'_class').html();
        $('#children'+counter+'_class_error').show().delay(3000).slideUp();
        $('#children'+counter+'_class_error').html('Please select children class');
        $('#children'+counter+'_class').focus();
        status= false;
      }
      if(IsValid(children_date_of_birth)){
        $('#children'+counter+'_date_of_birth').html();
        $('#children'+counter+'_date_of_birth_error').show().delay(3000).slideUp();
        $('#children'+counter+'_date_of_birth_error').html('Please select children date of birth');
        $('#children'+counter+'_date_of_birth').focus();
        status= false;
      }
      if(IsValid(children_blood_group)){
        $('#children'+counter+'_blood_group').html();
        $('#children'+counter+'_blood_group_error').show().delay(3000).slideUp();
        $('#children'+counter+'_blood_group_error').html('Please select children blood group');
        $('#children'+counter+'_blood_group').focus();
        status= false;
      }
      if(IsValid(children_date_of_joining)){
        $('#children'+counter+'_date_of_joining').html();
        $('#children'+counter+'_date_of_joining_error').show().delay(3000).slideUp();
        $('#children'+counter+'_date_of_joining_error').html('Please select children date of joining');
        $('#children'+counter+'_date_of_joining').focus();
        status= false;
      }
    }
    return status
  }
</script>
{% endblock %}
