{% extends "index.html" %}
{% load static %} 
{% block head %}
{% endblock %}
{% block heading %}
<span class="tab-title">
  <i class="fa-solid fa-users"></i> <span class="px-1"> Parent Student Master</span>
</span>
{% endblock %}
{% block body %}
    <div class="d-flex justify-content-end">
        <a href="/parent_student_master/add_parent_student"  class="btn btn-primary">Add Parent</a>

    </div>
  <div class="row">
    <table id="example" class="table table-striped table-bordered" style="width:100%">
      <thead>
          <tr>
              <th>Sr No</th>
              <th>Parent Name</th>
              <th>Address</th>
              <th>Email</th>
              <th>Contact</th>
              <th>Action</th>
          </tr>
      </thead>
      <tbody>
          <tr>
              <td>1</td>
              <td>Tiger Nixon</td>
              <td>System Architect</td>
              
              <td>abc@gmail.com</td>
              <td>9911881177</td>
                            <td>
                <a data-bs-toggle="tooltip" title="Edit Parent" href="/parent_student_master/edit_parent_student"><i class="fa-solid fa-pen-to-square mx-1"></i></a>
                <a data-bs-toggle="tooltip" title="Delete Parent" ><i class="fa-solid fa-trash-can text-danger mx-1"></i></a>
              </td>
            


          </tr>
          <tr>
              <td>2</td>
              <td>Tiger Nixon</td>
              <td>System Architect</td>
              
              <td>abc@gmail.com</td>
              <td>9911881177</td>
                            <td>
                <a data-bs-toggle="tooltip" title="Edit Parent" href="/parent_student_master/edit_parent_student"><i class="fa-solid fa-pen-to-square mx-1"></i></a>
                <a data-bs-toggle="tooltip" title="Delete Parent"><i class="fa-solid fa-trash-can text-danger mx-1"></i></a>
              </td>
          </tr>
          
          <tr>
            <td>3</td>
            <td>Tiger Nixon</td>
            <td>System Architect</td>
            
            <td>abc@gmail.com</td>
            <td>9911881177</td>
                          <td>
                <a data-bs-toggle="tooltip" title="Edit Parent" href="/parent_student_master/edit_parent_student"><i class="fa-solid fa-pen-to-square mx-1"></i></a>
                <a data-bs-toggle="tooltip" title="Delete Parent"><i class="fa-solid fa-trash-can text-danger mx-1"></i></a>
              </td>
          </tr>
          <tr>
            <td>4</td>
            <td>Tiger Nixon</td>
            <td>System Architect</td>
            
            <td>abc@gmail.com</td>
            <td>9911881177</td>
                          <td>
                <a data-bs-toggle="tooltip" title="Edit Parent" href="/parent_student_master/edit_parent_student"><i class="fa-solid fa-pen-to-square mx-1"></i></a>
                <a data-bs-toggle="tooltip" title="Delete Parent"><i class="fa-solid fa-trash-can text-danger mx-1"></i></a>
              </td>
          </tr>
          <tr>
            <td>5</td>
            <td>Tiger Nixon</td>
            <td>System Architect</td>
            
            <td>abc@gmail.com</td>
            <td>9911881177</td>
                          <td>
                <a data-bs-toggle="tooltip" title="Edit Parent" href="/parent_student_master/edit_parent_student"><i class="fa-solid fa-pen-to-square mx-1"></i></a>
                <a data-bs-toggle="tooltip" title="Delete Parent"><i class="fa-solid fa-trash-can text-danger mx-1"></i></a>
              </td>
          </tr>
          <tr>
            <td>6</td>
            <td>Tiger Nixon</td>
            <td>System Architect</td>
            
            <td>abc@gmail.com</td>
            <td>9911881177</td>
                          <td>
                <a data-bs-toggle="tooltip" title="Edit Parent" href="/parent_student_master/edit_parent_student"><i class="fa-solid fa-pen-to-square mx-1"></i></a>
                <a data-bs-toggle="tooltip" title="Delete Parent"><i class="fa-solid fa-trash-can text-danger mx-1"></i></a>
              </td>
          </tr>
          <tr>
            <td>7</td>
            <td>Tiger Nixon</td>
            <td>System Architect</td>
            
            <td>abc@gmail.com</td>
            <td>9911881177</td>
                          <td>
                <a data-bs-toggle="tooltip" title="Edit Parent" href="/parent_student_master/edit_parent_student"><i class="fa-solid fa-pen-to-square mx-1"></i></a>
                <a data-bs-toggle="tooltip" title="Delete Parent"><i class="fa-solid fa-trash-can text-danger mx-1"></i></a>
              </td>
          </tr>
          <tr>
            <td>8</td>
            <td>Tiger Nixon</td>
            <td>System Architect</td>
            
            <td>abc@gmail.com</td>
            <td>9911881177</td>
                          <td>
                <a data-bs-toggle="tooltip" title="Edit Parent" href="/parent_student_master/edit_parent_student"><i class="fa-solid fa-pen-to-square mx-1"></i></a>
                <a data-bs-toggle="tooltip" title="Delete Parent"><i class="fa-solid fa-trash-can text-danger mx-1"></i></a>
              </td>
          </tr>
          <tr>
            <td>9</td>
            <td>Tiger Nixon</td>
            <td>System Architect</td>
            
            <td>abc@gmail.com</td>
            <td>9911881177</td>
                          <td>
                <a data-bs-toggle="tooltip" title="Edit Parent" href="/parent_student_master/edit_parent_student"><i class="fa-solid fa-pen-to-square mx-1"></i></a>
                <a data-bs-toggle="tooltip" title="Delete Parent"><i class="fa-solid fa-trash-can text-danger mx-1"></i></a>
              </td>
          </tr>
          <tr>
            <td>10</td>
            <td>Tiger Nixon</td>
            <td>System Architect</td>
            
            <td>abc@gmail.com</td>
            <td>9911881177</td>
                          <td>
                <a data-bs-toggle="tooltip" title="Edit Parent" href="/parent_student_master/edit_parent_student"><i class="fa-solid fa-pen-to-square mx-1"></i></a>
                <a data-bs-toggle="tooltip" title="Delete Parent"><i class="fa-solid fa-trash-can text-danger mx-1"></i></a>
              </td>
          </tr>
          <tr>
            <td>11</td>
            <td>Tiger Nixon</td>
            <td>System Architect</td>
            
            <td>abc@gmail.com</td>
            <td>9911881177</td>
                          <td>
                <a data-bs-toggle="tooltip" title="Edit Parent" href="/parent_student_master/edit_parent_student"><i class="fa-solid fa-pen-to-square mx-1"></i></a>
                <a data-bs-toggle="tooltip" title="Delete Parent"><i class="fa-solid fa-trash-can text-danger mx-1"></i></a>
              </td>
          </tr>
      </tbody>

  </table>
  </div> 
  
  
{% endblock %}

{% block script %}
<script>
  $( document ).ready(function() {
    new DataTable('#example');  
  });  
</script>
{% endblock %}