{% extends "index.html" %}
{% load static %} 
{% block head %}
{% endblock %}
{% block heading %}
<span class="tab-title">
 <span class="px-1"> Teacher Master</span>
</span>
{% endblock %}
{% block body %}
    <div class="d-flex justify-content-end">
        <a href="/teacher_master/add_teacher"  class="btn btn-primary">Add Teacher</a>

    </div>
  <div class="row">
    <table id="example" class="table table-striped table-bordered" style="width:100%">
      <thead>
          <tr>
              <th>Sr No</th>
              <th>Teacher Name</th>
              <th>Email</th>
              <th>Contact</th>
              <th>Address</th>

              <th>Action</th>
          </tr>
      </thead>
      <tbody>

        {% for i in teachers %}
          <tr>
              <td>{{forloop.counter}}</td>
              <td>{{i.Username}}</td>
              
              <td>{{i.email}}</td>
              <td>{{i.mobileNumber}}</td>
              <td>{{i.Address}}</td>

              <td>
                <a data-bs-toggle="tooltip" title="Edit Teacher" href="/teacher_master/edit_teacher/{{i.id}}"><i class="fa-solid fa-pen-to-square mx-1"></i></a>
                <a data-bs-toggle="tooltip" title="Delete Teacher" onclick="delete_teacher('{{i.id}}')"><i class="fa-solid fa-trash-can text-danger mx-1"></i></a>
              </td>
            


          </tr>
          {% endfor %}

      </tbody>

  </table>
  </div> 
  
  
{% endblock %}

{% block script %}
<script>
  $( document ).ready(function() {
    new DataTable('#example');  
  });  

  function delete_teacher(id){
    Swal.fire({
      title: "Are you sure?",
      text: "You won't be able to revert this!",
      icon: "warning",
      showCancelButton: true,
      confirmButtonColor: "#3085d6",
      cancelButtonColor: "#d33",
      confirmButtonText: "Yes, delete it!"
    }).then((result) => {
      if (result.isConfirmed) {
        var fd = new FormData();    
        fd.append("id",id);
        fd.append("csrfmiddlewaretoken","{{csrf_token}}");
        $.ajax({
          type: "POST",
          url: frontend_url+"teacher_master/delete_teacher",
          data: fd,
          processData: false,
          contentType: false,
          
          success: function(response) {
            console.log("delete",response)
            if(response.response.n ==1){
              Swal.fire({
                text: response.response.msg,
                icon: 'success',
              }).then((result) => {
                window.location.href = "/teacher_master";
        
              });
            }else{
              Swal.fire({
                text: response.response.msg,
                icon: 'error',
              })
            }

      
          },
        });




      }
    });
     

  }
</script>
{% endblock %}