<!DOCTYPE html>
<html lang="en">
  <head>
    {% load static %}
    {% block head %}

    {% endblock %}
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>School ERP</title>
    <link rel="shortcut icon" type="image/png" href="{% static 'assets/images/logos/favicon.png' %}" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/css/select2.min.css" rel="stylesheet" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous" />
    <link rel="stylesheet" href="{% static 'assets/css/styles.min.css' %}" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.css" />
    <link href="{% static 'assets/css/custom.css' %}" rel="stylesheet">
  </head>

  <body>


    <div class="page-wrapper" id="main-wrapper" data-layout="vertical" data-navbarbg="skin6" data-sidebartype="full" data-sidebar-position="fixed" data-header-position="fixed">
      <!-- Sidebar Start -->
      <aside class="left-sidebar">
        <!-- Sidebar scroll -->
        <div>
          <div class="brand-logo d-flex align-items-center justify-content-between">
            <a href="/" class="text-nowrap logo-img"><img src="{% static 'assets/images/logos/black-ort_logo.png' %}" width="180" height="50" alt="" /></a>
            <div class="close-btn d-xl-none d-block sidebartoggler cursor-pointer" id="sidebarCollapse">
              <i class="ti ti-x fs-8"></i>
            </div>
          </div>
          <!-- Sidebar navigation -->

          <nav class="sidebar-nav scroll-sidebar" data-simplebar="">
            <ul id="sidebarnav">
              <li class="nav-small-cap">
                <i class="ti ti-dots nav-small-cap-icon fs-4"></i>
                <span class="hide-menu">Home</span>
              </li>
              <li class="sidebar-item">
                <a class="sidebar-link" href="/dashboard" aria-expanded="false">
                  <span><i class="ti ti-layout-dashboard"></i></span>
                  <span class="hide-menu">Dashboard</span>
                </a>
              </li>
              <li class="nav-small-cap">
                <i class="ti ti-dots nav-small-cap-icon fs-4"></i>
                <span class="hide-menu">Masters</span>
              </li>
              <li class="sidebar-item">
                <a class="sidebar-link" href="/school_master" aria-expanded="false">
                  <span><i class="ti ti-home"></i></span>
                  <span class="hide-menu">School Master</span>
                </a>
              </li>
              <li class="sidebar-item">
                <a class="sidebar-link" href="/teacher_master/" aria-expanded="false">
                  <span><i class="ti ti-user"></i></span>
                  <span class="hide-menu">Teacher Master</span>
                </a>
              </li>

              <li class="sidebar-item">
                <a class="sidebar-link" href="/parent_student_master/" aria-expanded="false">
                  <span><i class="ti ti-users"></i></span>
                  <span class="hide-menu">Parents/ Student Master</span>
                </a>
              </li>

              <li class="sidebar-item">
                <a class="sidebar-link" href="/time_table_master/" aria-expanded="false">
                  <span><i class="ti ti-cards"></i></span>
                  <span class="hide-menu">Time Table Master</span>
                </a>
              </li>
              <li class="sidebar-item">
                <a class="sidebar-link" href="/academic_calender/" aria-expanded="false">
                  <span><i class="ti ti-calendar"></i></span>
                  <span class="hide-menu">Academic Calendar</span>
                </a>
              </li>
              <li class="sidebar-item">
                <a class="sidebar-link" href="/marksheet" aria-expanded="false">
                  <span><i class="ti ti-clipboard"></i></span>
                  <span class="hide-menu">Marksheet</span>
                </a>
              </li>

              <li class="sidebar-item">
                <a class="sidebar-link" href="/class_master/" aria-expanded="false">
                  <span><i class="ti ti-pencil"></i></span>
                  <span class="hide-menu">Class Master</span>
                </a>
              </li>
              <li class="sidebar-item">
                <a class="sidebar-link" href="/subject_master/" aria-expanded="false">
                  <span><i class="ti ti-book"></i></span>
                  <span class="hide-menu">Subject Master</span>
                </a>
              </li>

              <li class="sidebar-item">
                <a class="sidebar-link" href="/designation_master/" aria-expanded="false">
                  <span><i class="ti ti-pin"></i></span>
                  <span class="hide-menu">Designation Master</span>
                </a>
              </li>
              <li class="nav-small-cap">
                <i class="ti ti-dots nav-small-cap-icon fs-4"></i>
                <span class="hide-menu">AUTH</span>
              </li>
              <li class="sidebar-item">
                <a class="sidebar-link" href="/login" aria-expanded="false">
                  <span><i class="ti ti-login"></i></span>
                  <span class="hide-menu">Login</span>
                </a>
              </li>
              <li class="sidebar-item">
                <a class="sidebar-link" href="/permissions" aria-expanded="false">
                  <span><i class="ti ti-settings"></i></span>
                  <span class="hide-menu">Permissions</span>
                </a>
              </li>
            </ul>
          </nav>
          <!-- End Sidebar navigation -->
        </div>
        <!-- End Sidebar scroll -->
      </aside>
      <!-- Sidebar End -->
      <!-- Main wrapper -->
      <div class="body-wrapper">
        <!-- Header Start -->
        <header class="app-header">
          <nav class="navbar navbar-expand-lg navbar-light">
            <div class="navbar-collapse justify-content-between px-0" id="navbarNav">
              <ul class="navbar-nav flex-row align-items-center">
                <li class="nav-item">
                  <a class="nav-link" href="javascript:void(0)">
                    {% block heading %}

                    {% endblock %}
                  </a>
                </li>
              </ul>

              <ul class="navbar-nav flex-row align-items-center">
                <li class="nav-item d-block d-xl-none">
                  <a class="nav-link sidebartoggler nav-icon-hover" id="headerCollapse" href="javascript:void(0)"><i class="ti ti-menu-2"></i></a>
                </li>
                <li class="nav-item">
                  <a class="nav-link nav-icon-hover" href="javascript:void(0)">
                    <i class="ti ti-bell-ringing"></i>
                    <div class="notification bg-primary rounded-circle"></div>
                  </a>
                </li>
                <li class="nav-item dropdown">
                  <a class="nav-link nav-icon-hover" href="javascript:void(0)" id="drop2" data-bs-toggle="dropdown" aria-expanded="false"><img src="{% static 'assets/images/profile/user-1.jpg' %}" alt="" width="35" height="35" class="rounded-circle" /></a>
                  <div class="dropdown-menu dropdown-menu-end dropdown-menu-animate-up" aria-labelledby="drop2">
                    <div class="message-body">
                      <a href="/user/profile" class="d-flex align-items-center gap-2 dropdown-item">
                        <i class="ti ti-user fs-6"></i>
                        <p class="mb-0 fs-3">My Profile</p>
                      </a>
                      <a href="/user/reset_password" class="d-flex align-items-center gap-2 dropdown-item">
                        <i class="ti ti-mail fs-6"></i>
                        <p class="mb-0 fs-3">Change Password</p>
                      </a>

                      <a href="/logout" class="btn btn-outline-primary mx-3 mt-2 d-block">Logout</a>
                    </div>
                  </div>
                </li>
              </ul>
            </div>
          </nav>
        </header>
        <!-- Header End -->
        <div class="container-fluid">
          {% block body %}

          {% endblock %}
        </div>

        <footer>
          <div class="py-6 px-6 text-center">
            <p class="mb-0 fs-4">
              Copyright © 2024 <a href="https://onerooftech.com/" target="_blank" class="pe-1 text-primary text-decoration-underline">OneRoof Technologies</a>LLP All rights reserved
            </p>
          </div>
        </footer>
      </div>
    </div>

    <script src="{% static 'assets/libs/jquery/dist/jquery.min.js' %}"></script>
    <script src="{% static 'assets/libs/bootstrap/dist/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'assets/js/sidebarmenu.js' %}"></script>
    <script src="{% static 'assets/js/app.min.js' %} "></script>
    <script src="{% static 'assets/libs/apexcharts/dist/apexcharts.min.js' %} "></script>
    <script src="{% static 'assets/libs/simplebar/dist/simplebar.js' %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js" integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <script src="https://code.jquery.com/jquery-3.7.1.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="https://cdn.datatables.net/2.0.5/js/dataTables.js"></script>
    <script src="https://cdn.datatables.net/2.0.5/js/dataTables.bootstrap4.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/js/select2.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css" />
    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
    <script src="{% static 'js/index.js' %} "></script>
    
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    {% block script %}

    {% endblock %}
    <script>

     
      // Initialize tooltips
      var frontendURL = '{{frontendURL}}'

      var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
      var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
        return new bootstrap.Tooltip(tooltipTriggerEl)
      })
    </script>
    {% if messages %}
    <div class="alert admin-alert">
      {% for message in messages %}

        <script>
          var m = "{{ message }}";
          var ic="{{message.tags}}";
          Swal.fire({
            icon: ic,
            text: m,
          });
        </script>



      {% endfor %}
    </div>
  {% endif %}
  </body>
</html>
