{% extends "index.html" %}
{% load static %} 
{% block head %}
{% endblock %}

{% block heading %}
<span class="tab-title">
    <i class="fa-solid fa-school"></i>  <span class="px-1"> Add School</span>
</span>
{% endblock %}





{% block body %}

<div class="card">
    <div class="card-body">
      <h5 class="card-title fw-semibold mb-4">Add School Forms</h5>
      <div class="card">
        <div class="card-body">
          <form>
            <div class="row">
                <div class="mb-3 col-lg-4">
                    <label for="school_name" class="form-label">School Name</label>
                    <input type="text" class="form-control" id="school_name" placeholder="Please enter school name" aria-describedby="school_name_error" oninput="this.value = this.value.replace(/[^a-zA-Z ]+/g,'').replace(/(\..*)\./g, '$1');">
                    <div id="school_name_error" class="form-text error_message"></div>
                  </div>
                  <div class="mb-3 col-lg-4">
                      <label for="school_email" class="form-label">School Email</label>
                      <input type="text" class="form-control" id="school_email" placeholder="Please enter school email" aria-describedby="school_email_error" oninput="email_validate('school_email');">
                      <div id="school_email_error" class="form-text error_message"></div>
                  </div>
                  <div class="mb-3 col-lg-4">
                      <label for="school_admin_email" class="form-label">Admin Email</label>
                      <input type="text" class="form-control" id="school_admin_email" placeholder="Please enter school admin email" aria-describedby="school_admin_email_error" oninput="email_validate('school_admin_email');">
                      <div id="school_admin_email_error" class="form-text error_message"></div>
                  </div>
                  <div class="mb-3 col-lg-4">
                      <label for="school_admin_name" class="form-label">Admin Name</label>
                      <input type="text" class="form-control" id="school_admin_name" placeholder="Please enter school admin name" aria-describedby="school_admin_name_error" oninput="this.value = this.value.replace(/[^a-zA-Z ]+/g,'').replace(/(\..*)\./g, '$1');">
                      <div id="school_admin_name_error" class="form-text error_message"></div>
                  </div>
                  <div class="mb-3 col-lg-4">
                      <label for="school_contact" class="form-label">Contact No</label>
                      <input type="text" class="form-control" id="school_contact" placeholder="Please enter school contact" aria-describedby="school_contact_error" maxlength="10" oninput="this.value = this.value.replace(/[^0-9]+/g,'').replace(/(\..*)\./g, '$1');">
                      <div id="school_contact_error" class="form-text error_message"></div>
                  </div>
                  {% comment %} <div class="mb-3 col-lg-4">
                    <label for="school_password" class="form-label">Password</label>
                    <input type="password" class="form-control" id="school_password" placeholder="Please enter school password"  aria-describedby="school_password_error" oninput="password_validate('school_password');">
                    <span toggle="#school_password" class="fa fa-fw fa-eye-slash field-icon toggle-password"></span>


                    <div id="school_password_error" class="form-text error_message"></div>
                  </div> {% endcomment %}
                  <div class="mb-3 col-lg-12">
                      <label for="school_address" class="form-label">School Address</label>
                      <textarea  class="form-control"  name="school_address" id="school_address" cols="30" rows="5" aria-describedby="school_address_error"></textarea>
                      <div id="school_address_error" class="form-text error_message"></div>
                  </div>
            </div>

            <div class="row">
                <div class="d-flex justify-content-center">
                    <a  class="btn btn-primary" onclick="validate_form();">Submit</a>
                </div>
            </div>

          </form>
        </div>
      </div>
      
    </div>
  </div> 
  
  
{% endblock %}





{% block script %}
<script>
  function validate_form(){
    var school_name=$('#school_name').val();
    var school_email=$('#school_email').val();
    var school_admin_email=$('#school_admin_email').val();
    var school_admin_name=$('#school_admin_name').val();
    var school_contact=$('#school_contact').val();
    var school_password=$('#school_password').val();
    var school_address=$('#school_address').val();


    if(IsValid(school_name)){
      $('#school_name').html();
      $('#school_name_error').show().delay(3000).slideUp();
      $('#school_name_error').html('Please enter school name');
      $('#school_name').focus();
      return false;
    }
    if(IsValid(school_email)){
      $('#school_email').html();
      $('#school_email_error').show().delay(3000).slideUp();
      $('#school_email_error').html('Please enter school email');
      $('#school_email').focus();
      return false;
    }
    if(email_validate('school_email') == false){
      $('#school_email').html();
      $('#school_email_error').show().delay(3000).slideUp();
      $('#school_email_error').html('Please enter school valid email ');
      $('#school_email').focus();
      return false;
    }
    if(IsValid(school_admin_email)){
      $('#school_admin_email').html();
      $('#school_admin_email_error').show().delay(3000).slideUp();
      $('#school_admin_email_error').html('Please enter school admin email');
      $('#school_admin_email').focus();
      return false;
    }
    if(email_validate('school_admin_email') == false){
      $('#school_admin_email').html();
      $('#school_admin_email_error').show().delay(3000).slideUp();
      $('#school_admin_email_error').html('Please enter school valid admin email ');
      $('#school_admin_email').focus();
      return false;
    }
    if(IsValid(school_admin_name)){
      $('#school_admin_name').html();
      $('#school_admin_name_error').show().delay(3000).slideUp();
      $('#school_admin_name_error').html('Please enter school admin name');
      $('#school_admin_name').focus();
      return false;
    }
    if(IsValid(school_contact)){
      $('#school_contact').html();
      $('#school_contact_error').show().delay(3000).slideUp();
      $('#school_contact_error').html('Please enter school contact number');
      $('#school_contact').focus();
      return false;
    }
    if(mobile_validate('school_contact') == false){
      $('#school_contact').html();
      $('#school_contact_error').show().delay(3000).slideUp();
      $('#school_contact_error').html('Please enter school contact number ');
      $('#school_contact').focus();
      return false;
    }
    /*
    if(IsValid(school_password)){
      $('#school_password').html();
      $('#school_password_error').show().delay(3000).slideUp();
      $('#school_password_error').html('Please enter school password ');
      $('#school_password').focus();
      return false;
    }
    if(password_validate('school_password') == false){
      $('#school_password').html();
      $('#school_password_error').show().delay(3000).slideUp();
      $('#school_password_error').html('Please enter school valid password ');
      $('#school_password').focus();
      return false;
    }*/
    if(IsValid(school_address)){
      $('#school_address').html();
      $('#school_address_error').show().delay(3000).slideUp();
      $('#school_address_error').html('Please enter school address ');
      $('#school_address').focus();
      return false;
    }
    else{
    
      


      var fd = new FormData();    
      fd.append("Name",school_name);
      fd.append("Email",school_email);
      fd.append("admin_Email",school_admin_email);
      fd.append("admin_Name",school_admin_name);
      fd.append("Contact",school_contact);
      fd.append("Location",school_address);


  

      
      fd.append("csrfmiddlewaretoken","{{csrf_token}}");
      $.ajax({
        type: "POST",
        url: frontend_url+"add_school",
        data: fd,
        processData: false,
        contentType: false,
        
        success: function(response) {
          if(response.response.n ==1){
            Swal.fire({
              text: response.response.msg,
              icon: 'success',
            }).then((result) => {
              window.location.href = "/school_master";
      
            });
          }else{
            Swal.fire({
              text: response.response.msg,
              icon: 'error',
            })
          }

    
        },
      });







    }
  }
</script>
{% endblock %}