{% extends "index.html" %}
{% load static %} 
{% block head %}
{% endblock %}
{% block heading %}
<span class="tab-title">
    <i class="fa-solid fa-school"></i>  <span class="px-1"> School Master</span>
</span>
{% endblock %}
{% block body %}
    <div class="d-flex justify-content-end">
        <a href="/add_school"  class="btn btn-primary">Add School</a>

    </div>
  <div class="row">
    <table id="example" class="table table-striped table-bordered" style="width:100%">
      <thead>
          <tr>
              <th>Sr No</th>
              <th>School Name</th>
              <th>Address</th>
              <th>Admin</th>
              <th>Email</th>
              <th>Contact</th>
              <th>Action</th>
          </tr>
      </thead>
      <tbody>
        {% for school in schools  %}
        <tr>
          <td>{{forloop.counter}}</td>
          <td>{{school.Name}}</td>
          <td>{{school.Location}}</td>
          <td>{{school.admin_Email}}</td>
          <td>{{school.Email}}</td>
          <td>{{school.Contact}}</td>
              <td>
              <a data-bs-toggle="tooltip" title="Edit School" href="/edit_school/{{school.id}}"><i class="fa-solid fa-pen-to-square mx-1"></i></a>
              {% if school.isActive == True %}
                <a data-bs-toggle="tooltip" onclick="disable_school('{{school.id}}')" title="Disable School"><i class="fa-solid fa-eye mx-1"></i></a>
              {% else %}
                <a data-bs-toggle="tooltip" onclick="enable_school('{{school.id}}')" title="Enable School"><i class="fa-solid fa-eye-slash mx-1"></i></a>

              {% endif %}
            </td>
        </tr>
        {% endfor %}
      </tbody>

  </table>
  </div> 
  
  
{% endblock %}

{% block script %}
<script>
  $( document ).ready(function() {
    new DataTable('#example');  
  });  


  function enable_school(id){
    Swal.fire({
      title: "Are you sure?",
      text: "You want to enable school!",
      icon: "warning",
      showCancelButton: true,
      confirmButtonColor: "#3085d6",
      cancelButtonColor: "#d33",
      confirmButtonText: "Yes, Enable it!"
    }).then((result) => {
      if (result.isConfirmed) {
        var fd = new FormData();    
        fd.append("id",id);
        fd.append("csrfmiddlewaretoken","{{csrf_token}}");
        $.ajax({
          type: "POST",
          url: frontend_url+"enable_school",
          data: fd,
          processData: false,
          contentType: false,
          
          success: function(response) {
            console.log("delete",response)
            if(response.response.n ==1){
              Swal.fire({
                text: response.response.msg,
                icon: 'success',
              }).then((result) => {
                window.location.href = "/school_master";
        
              });
            }else{
              Swal.fire({
                text: response.response.msg,
                icon: 'error',
              })
            }

      
          },
        });




      }
    });
     

  }

  function disable_school(id){
    Swal.fire({
      title: "Are you sure?",
      text: "You want to disable school!",
      icon: "warning",
      showCancelButton: true,
      confirmButtonColor: "#3085d6",
      cancelButtonColor: "#d33",
      confirmButtonText: "Yes, Disable it!"
    }).then((result) => {
      if (result.isConfirmed) {
        var fd = new FormData();    
        fd.append("id",id);
        fd.append("csrfmiddlewaretoken","{{csrf_token}}");
        $.ajax({
          type: "POST",
          url: frontend_url+"disable_school",
          data: fd,
          processData: false,
          contentType: false,
          
          success: function(response) {
            console.log("delete",response)
            if(response.response.n ==1){
              Swal.fire({
                text: response.response.msg,
                icon: 'success',
              }).then((result) => {
                window.location.href = "/school_master";
        
              });
            }else{
              Swal.fire({
                text: response.response.msg,
                icon: 'error',
              })
            }

      
          },
        });




      }
    });
     

  }

</script>
{% endblock %}