{% extends 'index.html' %}
{% load static %}
{% block head %}

{% endblock %}

{% block heading %}
  <span class="tab-title"><i class="fa-solid fa-user"></i> <span class="px-1">Add Exam</span></span>
{% endblock %}

{% block body %}
  <div class="card">
    <div class="card-body">
      <h5 class="card-title fw-semibold mb-4">Add Exam Forms</h5>
      <div class="card">
        <div class="card-body">
          <form>
            <div class="row">
              <div class="mb-3 col-lg-4">
                <label for="exam_type" class="form-label">Exam Type</label>
                <select id="exam_type" class="form-select" aria-describedby="exam_type_error">
                  <option value="" selected>Please select type</option>
                  {% for type in types %}
                    <option value="{{ type.id }}">{{ type.typeName }}</option>
                  {% endfor %}
                </select>
                <div id="exam_type_error" class="form-text error_message"></div>
              </div>
              <div class="mb-3 col-lg-4">
                <label for="exam_totalmarks" class="form-label">Exam Total Marks</label>
                <input type="text" class="form-control" id="exam_totalmarks" placeholder="Please enter total marks" aria-describedby="exam_totalmarks_error" oninput="this.value = this.value.replace(/[^a-zA-Z ]+/g,'').replace(/(\..*)\./g, '$1');" />
                <div id="exam_totalmarks_error" class="form-text error_message"></div>
              </div>

              <div class="mb-3 col-lg-4">
                <label for="exam_reporttime" class="form-label">Exam Report Time</label>
                <input type="time" class="form-control" id="exam_reporttime" placeholder="Please enter report time" aria-describedby="exam_reporttime_error" oninput="this.value = this.value.replace(/[^a-zA-Z ]+/g,'').replace(/(\..*)\./g, '$1');" />
                <div id="exam_reporttime_error" class="form-text error_message"></div>
              </div>

              <div class="mb-3 col-lg-4">
                <label for="exam_date" class="form-label">Date</label>
                <input type="text" class="form-control" id="exam_date" placeholder="Please select date" aria-describedby="exam_date_error" readonly />
                <div id="exam_date_error" class="form-text error_message"></div>
              </div>

              <div class="mb-3 col-lg-4">
                <label for="exam_starttime" class="form-label">Exam Start Time</label>
                <input type="time" class="form-control" id="exam_starttime" placeholder="Please enter starttime" aria-describedby="exam_starttime_error" oninput="this.value = this.value.replace(/[^a-zA-Z ]+/g,'').replace(/(\..*)\./g, '$1');" />
                <div id="exam_starttime_error" class="form-text error_message"></div>
              </div>
              <div class="mb-3 col-lg-4">
                <label for="exam_endtime" class="form-label">Exam End Time</label>
                <input type="time" class="form-control" id="exam_endtime" placeholder="Please enter endtime" aria-describedby="exam_endtime_error" oninput="this.value = this.value.replace(/[^a-zA-Z ]+/g,'').replace(/(\..*)\./g, '$1');" />
                <div id="exam_endtime_error" class="form-text error_message"></div>
              </div>

              <div class="mb-3 col-lg-4">
                <label for="exam_subject" class="form-label">Subject</label>
                <select id="exam_subject" class="form-select" aria-describedby="exam_subject_error">
                  <option value="" selected>Please select subject</option>
                  {% for subject in subjects %}
                    <option value="{{ subject.id }}">{{ subject.subjectName }}</option>
                  {% endfor %}
                </select>
                <div id="exam_subject_error" class="form-text error_message"></div>
              </div>

              <div class="mb-3 col-lg-12">
                <label for="exam_instruction" class="form-label">Exam Instruction</label>
                <textarea class="form-control" name="exam_instruction" id="exam_instruction" cols="30" rows="5" aria-describedby="exam_instruction_error"></textarea>
                <div id="exam_instruction_error" class="form-text error_message"></div>
              </div>

              <div class="mb-3 col-lg-3">
                <label for="exam_class" class="form-label">Class</label>
                <select id="exam_class" class="form-select" aria-describedby="exam_class_error">
                  <option value="" selected>Please select class</option>
                  {% for class in classs %}
                    <option value="{{ class.id }}">{{ class.className }}</option>
                  {% endfor %}
                </select>
                <div id="exam_class_error" class="form-text error_message"></div>
              </div>
              <div class="mb-3 col-lg-3">
                <label for="exam_invigilator" class="form-label">Exam Invigilator</label>
                <input type="text" class="form-control" id="exam_invigilator" placeholder="Please enter invigilator" aria-describedby="exam_invigilator_error" oninput="this.value = this.value.replace(/[^a-zA-Z ]+/g,'').replace(/(\..*)\./g, '$1');" />
                <div id="exam_invigilator_error" class="form-text error_message"></div>
              </div>

              <div class="mb-3 col-lg-3">
                <label for="exam_roomno" class="form-label">Exam Room No</label>
                <input type="text" class="form-control" id="exam_roomno" placeholder="Please enter room no" aria-describedby="exam_roomno_error" oninput="this.value = this.value.replace(/[^a-zA-Z ]+/g,'').replace(/(\..*)\./g, '$1');" />
                <div id="exam_roomno_error" class="form-text error_message"></div>
              </div>
              <div class="col-lg-3 m-auto text-center">
                <div class="">
                  <a class="btn btn-primary" onclick="validate_form();">Add</a>
                </div>
              </div>

              <div class="col-lg-12 mb-3">
                <table class="table">
                  <thead class="thead-dark">
                    <th>Sr No</th>
                    <th>Class</th>
                    <th>Invigilator</th>
                    <th>Exam Room No</th>
                    <th>Action</th>
                  </thead>
                  <tbody id="table_body">
                    <tr>
                      <td>1</td>
                      <td>1A</td>
                      <td>Mahesh Kattale</td>
                      <td>404</td>
                      <td>

                        <a data-bs-toggle="tooltip" title="Edit " onclick="get_timetable_info('{{i.id}}');"><i class="fa-solid fa-pen-to-square mx-1"></i></a>
                        <a data-bs-toggle="tooltip" title="Delete " onclick="delete_timetable('{{i.id}}');"><i class="fa-solid fa-trash-can text-danger mx-1"></i></a>
                      
                      </td>
                    </tr>

                    <tr>
                      <td>2</td>
                      <td>1B</td>
                      <td>Sapna kanchar</td>
                      <td>405</td>
                      <td>

                        <a data-bs-toggle="tooltip" title="Edit " onclick="get_timetable_info('{{i.id}}');"><i class="fa-solid fa-pen-to-square mx-1"></i></a>
                        <a data-bs-toggle="tooltip" title="Delete " onclick="delete_timetable('{{i.id}}');"><i class="fa-solid fa-trash-can text-danger mx-1"></i></a>
                      
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>

            <div class="row">
              <div class="d-flex justify-content-center">
                <a class="btn btn-primary" onclick="validate_form();">Submit</a>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block script %}
  <script>
    $(document).ready(function () {
      $('#exam_subject').select2()
      $('#exam_type').select2()
      $('#exam_class').select2()
      flatpickr('#exam_date', {
        dateFormat: 'd-m-Y' // Customize date format if needed
        // You can add more configuration options here
      })
    })
    
    function validate_form() {
      debugger
      var exam_class = $('#exam_class').val()
      var exam_date = $('#exam_date').val()
      var exam_invigilator = $('#exam_invigilator').val()
      var exam_starttime = $('#exam_starttime').val()
      var exam_endtime = $('#exam_endtime').val()
      var exam_subject = $('#exam_subject').val()
      var exam_type = $('#exam_type').val()
      var exam_totalmarks = $('#exam_totalmarks').val()
      var exam_reporttime = $('#exam_reporttime').val()
      var exam_roomno = $('#exam_roomno').val()
      var exam_instruction = $('#exam_instruction').val()
      if (IsValid(exam_type)) {
        $('#exam_type').html()
        $('#exam_type_error').show().delay(3000).slideUp()
        $('#exam_type_error').html('Please select exam type')
        $('#exam_type').focus()
        return false
      }
      if (IsValid(exam_totalmarks)) {
        $('#exam_totalmarks').html()
        $('#exam_totalmarks_error').show().delay(3000).slideUp()
        $('#exam_totalmarks_error').html('Please add exam total marks')
        $('#exam_totalmarks').focus()
        return false
      }
      if (IsValid(exam_reporttime)) {
        $('#exam_reporttime').html()
        $('#exam_reporttime_error').show().delay(3000).slideUp()
        $('#exam_reporttime_error').html('Please select exam reporting time')
        $('#exam_reporttime').focus()
        return false
      }
      if (IsValid(exam_date)) {
        $('#exam_date').html()
        $('#exam_date_error').show().delay(3000).slideUp()
        $('#exam_date_error').html('Please enter exam date')
        $('#exam_date').focus()
        return false
      }
    
      if (IsValid(exam_starttime)) {
        $('#exam_starttime').html()
        $('#exam_starttime_error').show().delay(3000).slideUp()
        $('#exam_starttime_error').html('Please select exam start time')
        $('#exam_starttime').focus()
        return false
      }
      if (IsValid(exam_endtime)) {
        $('#exam_endtime').html()
        $('#exam_endtime_error').show().delay(3000).slideUp()
        $('#exam_endtime_error').html('Please select exam end time')
        $('#exam_endtime').focus()
        return false
      }
      if (IsValid(exam_subject)) {
        $('#exam_subject').html()
        $('#exam_subject_error').show().delay(3000).slideUp()
        $('#exam_subject_error').html('Please select exam subject')
        $('#exam_subject').focus()
        return false
      }
      if (IsValid(exam_instruction)) {
        $('#exam_instruction').html()
        $('#exam_instruction_error').show().delay(3000).slideUp()
        $('#exam_instruction_error').html('Please enter exam instruction ')
        $('#exam_instruction').focus()
        return false
      } else {
        var fd = new FormData()
    
        fd.append('csrfmiddlewaretoken', '{{csrf_token}}')
        $.ajax({
          type: 'POST',
          url: frontend_url + '',
          data: fd,
          processData: false,
          contentType: false,
    
          success: function (response) {
            if (response.response.n == 1) {
              Swal.fire({
                text: response.response.msg,
                icon: 'success'
              }).then((result) => {
                window.location.href = '/exam'
              })
            } else {
              Swal.fire({
                text: response.response.msg,
                icon: 'error'
              })
            }
          }
        })
      }
    }
  </script>
{% endblock %}
