{% extends 'index.html' %}
{% load static %}
{% block head %}
<style>
  .astyleinexam{
    margin-right:8px;
  }
  .divstyle{
    display: flex!important;
    justify-content: center!important;
  }
  .modal-content{
    margin-left:50px;
  }
</style>
{% endblock %}

{% block heading %}
  <span class="tab-title"><span class="px-1">Exams </span></span>
{% endblock %}

{% block body %}
  <div class="card">
    <div class="card-body">
      <div style="display:flex; justify-content:space-between;">
        <h5 class="card-title fw-semibold mb-4">Create Exam</h5>
        <a data-bs-toggle="modal" data-bs-target="#uploadexcel" class="btn btn-primary" style="margin-bottom:13px;">Bulk Upload</a>
      </div>
      <div class="card">
        <div class="card-body">
          <form>
            <div class="row">
              <div class="mb-3 col-lg-4">
                <label for="exam_academic" class="form-label">Academic Year <span class="text-danger">*</span> </label>
                <select id="exam_academic" class="form-select select2" aria-describedby="exam_academic_error">
                  <option value="" selected>Please select academic</option>
                  {% for academic in academics %}
                    <option value="{{ academic.id }}">{{academic.start_date}} {{academic.startdate_month_yyyy}} to {{academic.end_date}} {{academic.enddate_month_yyyy}}</option>
                  {% endfor %}
                </select>
                <div id="exam_academic_error" class="form-text error_message mt-3"></div>
              </div>


              <div class="mb-3 col-lg-4">
                <label for="exam_name" class="form-label">Exam  <span class="text-danger">*</span> </label>
                <select id="exam_name" class="form-select select2" aria-describedby="exam_name_error">
                  <option value="" selected>Please select Exam</option>
                  {% for exam in exams %}
                    <option value="{{ exam.id }}">{{ exam.Name }}</option>
                  {% endfor %}
                </select>
                <div id="exam_name_error" class="form-text error_message mt-3"></div>
              </div>


              <div class="mb-3 col-lg-4">
                <label for="exam_type" class="form-label">Paper Type <span class="text-danger">*</span> </label>
                <select id="exam_type" class="form-select select2" aria-describedby="exam_type_error" onchange="get_marks()">
                  <option value="" selected>Please select type</option>
                  {% for type in exam_types %}
                    <option value="{{ type.id }}">{{ type.TypeName }}</option>
                  {% endfor %}
                </select>
                <div id="exam_type_error" class="form-text error_message mt-3"></div>
              </div>

              <div class="mb-3 col-lg-4">
                <label for="exam_totalmarks" class="form-label">Exam Total Marks <span class="text-danger">*</span> </label>
                
                <select id="exam_totalmarks" class="form-select select2" aria-describedby="exam_totalmarks_error" >
                  <option value="" passingmarks="" selected>Please select paper type first</option>

                </select>
                
                <div id="exam_totalmarks_error" class="form-text error_message mt-3"></div>
              </div>

              <div class="mb-3 col-lg-4">
                <label for="exam_passingmarks" class="form-label">Passing Marks<span class="text-danger">*</span> </label>
                <input type="text" class="form-control" id="exam_passingmarks" placeholder="Please enter passing marks" aria-describedby="exam_passingmarks_error"  readonly/>
                <div id="exam_passingmarks_error" class="form-text error_message"></div>
              </div>






              <div class="mb-3 col-lg-4">
                <label for="exam_starttime" class="form-label">Exam Start Time <span class="text-danger">*</span> </label>
                <input type="time" class="form-control" id="exam_starttime" placeholder="Please enter starttime" aria-describedby="exam_starttime_error"  />
                <div id="exam_starttime_error" class="form-text error_message mt-3"></div>
              </div>
              <div class="mb-3 col-lg-4">
                <label for="exam_endtime" class="form-label">Exam End Time <span class="text-danger">*</span> </label>
                <input type="time" class="form-control" id="exam_endtime" placeholder="Please enter endtime" aria-describedby="exam_endtime_error"  />
                <div id="exam_endtime_error" class="form-text error_message mt-3"></div>
              </div>


              <div class="mb-3 col-lg-4">
                <label for="exam_reporttime" class="form-label">Exam Report Time <span class="text-danger">*</span> </label>
                <input type="time" class="form-control" id="exam_reporttime" placeholder="Please enter report time" aria-describedby="exam_reporttime_error"  />
                <div id="exam_reporttime_error" class="form-text error_message mt-3"></div>
              </div>
              <div class="mb-3 col-lg-4">
                <label for="exam_date" class="form-label">Date <span class="text-danger">*</span> </label>
                <input type="text" class="form-control date_picker" id="exam_date" placeholder="Please select date" aria-describedby="exam_date_error" readonly />
                <div id="exam_date_error" class="form-text error_message mt-3"></div>
              </div>

              <div class="mb-3 col-lg-4">
                <label for="exam_subject" class="form-label">Subject <span class="text-danger">*</span> </label>
                <select id="exam_subject" class="form-select select2" aria-describedby="exam_subject_error">
                  <option value="" selected>Please select subject</option>
                  {% for subject in subjects %}
                    <option value="{{ subject.id }}">{{ subject.SubjectName }}</option>
                  {% endfor %}
                </select>
                <div id="exam_subject_error" class="form-text error_message mt-3"></div>
              </div>






              <div class="mb-3 col-lg-12">
                <label for="exam_instruction" class="form-label">Exam Instruction <span class="text-danger">*</span> </label>
                <textarea class="form-control" name="exam_instruction" id="exam_instruction" cols="30" rows="5" aria-describedby="exam_instruction_error" placeholder="Please enter exam instruction"></textarea>
                <div id="exam_instruction_error" class="form-text error_message mt-3"></div>
              </div>

              <div class="mb-3 col-lg-3">
                <label for="exam_class" class="form-label">Class <span class="text-danger">*</span> </label>
                <select id="exam_class" class="form-select select2" aria-describedby="exam_class_error">
                  <option value="" selected>Please select class</option>
                  {% for class in classes %}
                    <option value="{{ class.id }}">{{ class.ClassName }}</option>
                  {% endfor %}
                </select>
                <div id="exam_class_error" class="form-text error_message mt-3"></div>
              </div>
              <div class="mb-3 col-lg-3">
                <label for="exam_invigilator" class="form-label">Exam Invigilator <span class="text-danger">*</span> </label>
                <select id="exam_invigilator" class="form-select select2" aria-describedby="exam_invigilator_error">
                  <option value="" selected>Please select invigilator</option>
                  {% for class in teachers %}
                    <option value="{{ class.id }}">{{ class.Username }}</option>
                  {% endfor %}
                </select>
                <div id="exam_invigilator_error" class="form-text error_message mt-3"></div>
              </div>

              <div class="mb-3 col-lg-3">
                <label for="exam_roomno" class="form-label">Exam Room No <span class="text-danger">*</span> </label>
                <input type="text" class="form-control" id="exam_roomno" placeholder="Please enter room no" aria-describedby="exam_roomno_error"  />
                <div id="exam_roomno_error" class="form-text error_message mt-3"></div>
              </div>
              <div class="col-lg-3 m-auto text-center">
                <div class="">
                  <a class="btn btn-primary" id="addbtn">Add</a>
                  <a id="updatedraftBtn" onclick="update_draft();" class="btn btn-primary d-none">Update</a>
                </div>
              </div>

              <div class="col-lg-12 mb-3">
                <table class="table">
                  <thead class="thead-dark">
                    <th>Sr No</th>
                    <th>Class</th>
                    <th>Invigilator</th>
                    <th>Exam Room No</th>
                    <th>Action</th>
                  </thead>
                  <tbody id="table_body">

                  </tbody>
                </table>
              </div>
            </div>

            <div class="row">
              <div class="d-flex justify-content-center">
                <a class="btn btn-primary" onclick="validate_form();">Submit</a>
              </div>
            </div>
          </form>
        </div>
      </div>
      <div id="uploadexcel" class="modal">
        <div class="modal-dialog modal-lg">
          <div class="modal-content">
    
            <div class="modal-body">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title fw-semibold mb-4">Upload Excel</h5>
                <div class="card">
                  <div class="card-body">
                    <div class="file-upload-box text-center">
                      <div class="px-2">
                        <a class="btn btn-primary" title="download excel format" href="{% static 'Media/SampleExcels/examschedule.xlsx'%}" download>Download Sample<i class="fa fa-download" aria-hidden="true"></i></a>
                      </div>
                      <div class="file-upload-btn">
                        <input type="file" name="myfile" id="myfile" hidden="hidden" />
                        <p id="custom-text">No file chosen, yet.</p>
                        <button type="button" id="fileName" class="btn-primary btn excel-btn-info">Upload Excel File</button>
                       <div class="mt-3">
                        <a class="btn btn-primary" onclick="filevalidationexamschedule();">Submit</a>
                       </div>
                      
                     </div>
                    
                     </div>
                  </div>
                </div>
              </div>
            </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block script %}
<script src="https://unpkg.com/xlsx/dist/xlsx.full.min.js"></script>
<script src="https://unpkg.com/file-saver@2.0.5/dist/FileSaver.min.js"></script>

  <script>
    var classlist = [] // Array to store classlist
    var rowno = 1 //  number counter
    var itemtobechange = ''
    
    $(document).ready(function () {
      $('#addbtn').on('click', function () {
        if (validate_mini_form() == true) {
          var exam_class = $('#exam_class').val()
          var exam_invigilator = $('#exam_invigilator').val()
          var exam_roomno = $('#exam_roomno').val()
          var exam_classname = $('#exam_class option:selected').text();
          var exam_invigilatorname = $('#exam_invigilator option:selected').text();

          $('#table_body').append(
            `
                      <tr class="rowitem` +
              rowno +
              `">
                        <td>` +
              rowno +
              `</td>
                        <td>` +
                          exam_classname +
              `</td>
                        <td>` +
                          exam_invigilatorname +
              `</td>
                        <td>` +
              exam_roomno +
              `</td>
          
                        <td>
                          <a onclick="editrow(` +
              rowno +
              `);" data-bs-toggle="tooltip" title="Edit "><i class="fa-solid fa-pen-to-square mx-1"></i></a>
                          <a onclick="deleterow(` +
              rowno +
              `);"  data-bs-toggle="tooltip" title="Delete "><i class="fa-solid fa-trash-can text-danger mx-1"></i></a>
                        </td>
                      </tr>
                `
          )
    


          $('#exam_class').val('').trigger('change')
          $('#exam_invigilator').val('').trigger('change')
          $('#exam_roomno').val('')
    
          classlist.push({ itemno: rowno, ClassId: exam_class, ClassName: exam_classname, RoomNo: exam_roomno, InvigilatorId: exam_invigilator })
          rowno++
         

          Swal.fire({
            text: "Added Successfully",
            icon: 'success',
          })
          //addToArray();
        }
      })


      $('#exam_totalmarks').on('change', function() {
        var selectedOption = $(this).find('option:selected');
        var totalMarks = selectedOption.val();
        var passingMarks = selectedOption.attr('passingmarks');

        $('#exam_passingmarks').val(passingMarks)
        // Display the values in a div
    });
    })

    function update_draft(){
      if(validate_mini_form() == true){
  
      itemNo=itemtobechange
      var exam_class = $('#exam_class').val()
      var exam_invigilator = $('#exam_invigilator').val()
      var exam_roomno = $('#exam_roomno').val()
      var exam_classname = $('#exam_class option:selected').text();
      var exam_invigilatorname =$('#exam_invigilator option:selected').text();

      $('.rowitem'+itemNo).html(`<td>`+itemNo+`</td>      <td>`+exam_classname+`</td>  <td>`+exam_invigilatorname+`</td>  <td>`+exam_roomno+`</td>  <td>      <a onclick="editrow(`+itemNo+`);" data-bs-toggle="tooltip" title="Edit "><i class="fa-solid fa-pen-to-square mx-1"></i></a>      <a onclick="deleterow('`+itemNo+`');"  data-bs-toggle="tooltip" title="Delete "><i class="fa-solid fa-trash-can text-danger mx-1"></i></a>    </td>`)
  
  
  
   
  
  
  
  
      var result=classlist.find(item => item.itemno === itemNo)
      if (result) {
        result.ClassName =exam_classname;
        result.ClassId =exam_class;
        result.InvigilatorId =exam_invigilator;
        result.RoomNo = exam_roomno;

      } 
  
      var exam_class = $('#exam_class').val('').trigger('change');
      var exam_invigilator = $('#exam_invigilator').val('').trigger('change');
      var exam_roomno = $('#exam_roomno').val('');


      $('#addbtn').removeClass('d-none');
      $('#updatedraftBtn').addClass('d-none');
     
      Swal.fire({
        text: "Updated Successfully",
        icon: 'success',
      })
      }
  
    };
    function deleterow(id) {
      Swal.fire({
        title: 'Are you sure?',
        text: "You won't be able to revert this!",
        icon: 'warning',
        showCancelButton: true,
        confirmButtonColor: '#3085d6',
        cancelButtonColor: '#d33',
        confirmButtonText: 'Yes, delete it!'
      }).then((result) => {
        if (result.isConfirmed) {
          var result = classlist.find((item) => item.itemno === id)
    
          const index = classlist.findIndex((item) => item.itemno === id)
    
          if (index !== -1) {
            classlist.splice(index, 1)[0]
          }
          var rownoToRemove = $('.rowitem' + id)
    
          rownoToRemove.remove()
    
          $('#exam_class').val('').trigger('change')
          $('#exam_invigilator').val('').trigger('change')
          $('#exam_roomno').val('')
    
          $('#addbtn').removeClass('d-none')
          $('#updatedraftBtn').addClass('d-none')
      

          Swal.fire({
            text: "Deleted Successfully",
            icon: 'success',
          })
        }
      })
    }
    function validate_form() {
      debugger
      var exam_type = $('#exam_type').val()
      var exam_name = $('#exam_name').val()
      var exam_totalmarks = $('#exam_totalmarks').val()
      var exam_passingmarks = $('#exam_passingmarks').val()
      var exam_academic = $('#exam_academic').val()
      var exam_starttime = $('#exam_starttime').val()
      var exam_endtime = $('#exam_endtime').val()
      var exam_reporttime = $('#exam_reporttime').val()
      var exam_date = $('#exam_date').val()
      var exam_subject = $('#exam_subject').val()
      var exam_instruction = $('#exam_instruction').val()

      if (IsValid(exam_academic)) {
        $('#exam_academic').html()
        $('#exam_academic_error').show().delay(3000).slideUp()
        $('#exam_academic_error').html('Please select exam academic year')
        $('#exam_academic').focus()
        return false
      }
      if (IsValid(exam_name)) {
        $('#exam_name').html()
        $('#exam_name_error').show().delay(3000).slideUp()
        $('#exam_name_error').html('Please select exam name')
        $('#exam_name').focus()
        return false
      }
      if (IsValid(exam_type)) {
        $('#exam_type').html()
        $('#exam_type_error').show().delay(3000).slideUp()
        $('#exam_type_error').html('Please select exam type')
        $('#exam_type').focus()
        return false
      }

      if (IsValid(exam_totalmarks)) {
        $('#exam_totalmarks').html()
        $('#exam_totalmarks_error').show().delay(3000).slideUp()
        $('#exam_totalmarks_error').html('Please add exam total marks')
        $('#exam_totalmarks').focus()
        return false
      }
      if (IsValid(exam_passingmarks)) {
        $('#exam_passingmarks').html()
        $('#exam_passingmarks_error').show().delay(3000).slideUp()
        $('#exam_passingmarks_error').html('Please add exam passing marks')
        $('#exam_passingmarks').focus()
        return false
      }
      if (IsValid(exam_starttime)) {
        $('#exam_starttime').html()
        $('#exam_starttime_error').show().delay(3000).slideUp()
        $('#exam_starttime_error').html('Please select exam start time')
        $('#exam_starttime').focus()
        return false
      }
      if (IsValid(exam_endtime)) {
        $('#exam_endtime').html()
        $('#exam_endtime_error').show().delay(3000).slideUp()
        $('#exam_endtime_error').html('Please select exam end time')
        $('#exam_endtime').focus()
        return false
      }
      if (IsValid(exam_reporttime)) {
        $('#exam_reporttime').html()
        $('#exam_reporttime_error').show().delay(3000).slideUp()
        $('#exam_reporttime_error').html('Please select exam reporting time')
        $('#exam_reporttime').focus()
        return false
      }
      if (IsValid(exam_date)) {
        $('#exam_date').html()
        $('#exam_date_error').show().delay(3000).slideUp()
        $('#exam_date_error').html('Please enter exam date')
        $('#exam_date').focus()
        return false
      }
      if (IsValid(exam_subject)) {
        $('#exam_subject').html()
        $('#exam_subject_error').show().delay(3000).slideUp()
        $('#exam_subject_error').html('Please select exam subject')
        $('#exam_subject').focus()
        return false
      }
      if (IsValid(exam_instruction)) {
        $('#exam_instruction').html()
        $('#exam_instruction_error').show().delay(3000).slideUp()
        $('#exam_instruction_error').html('Please enter exam instruction ')
        $('#exam_instruction').focus()
        return false
      }
      if(classlist.length == 0){
        validate_mini_form()
        Swal.fire({
          text: 'Please add class list',
          icon: 'error'
        })
        return false
        


      }
      else {
        var fd = new FormData()
    
        fd.append('date', yyyy_mm_dd(exam_date))
        fd.append('Examstarttime', exam_starttime)
        fd.append('Examendtime', exam_endtime)
        fd.append('SubjectId', exam_subject)
        fd.append('ExamType', exam_type)
        fd.append('exam', exam_name)
        fd.append('totalMarks', exam_totalmarks)
        fd.append('passingmarks', exam_passingmarks)

        fd.append('reportTime', exam_reporttime)
        fd.append('Instructions', exam_instruction)
        fd.append('classlist', JSON.stringify(classlist))
        fd.append('AcademicYearId', exam_academic)
  
        fd.append('csrfmiddlewaretoken', '{{csrf_token}}')
        $.ajax({
          type: 'POST',
          url: frontend_url + 'exam/add_exam',
          data: fd,
          processData: false,
          contentType: false,
    
          success: function (response) {
            if (response.response.n == 1) {
              Swal.fire({
                text: response.response.msg,
                icon: 'success'
              }).then((result) => {
                window.location.href = '/exam'
              })
            } else {
              Swal.fire({
                text: response.response.msg,
                icon: 'error'
              })
            }
          }
        })
      }
    }
    function validate_mini_form() {
      debugger
      var exam_class = $('#exam_class').val()
      var exam_invigilator = $('#exam_invigilator').val()
      var exam_roomno = $('#exam_roomno').val()
      if (IsValid(exam_class)) {
        $('#exam_class').html()
        $('#exam_class_error').show().delay(3000).slideUp()
        $('#exam_class_error').html('Please select class')
        $('#exam_class').focus()
        return false
      }
      if (IsValid(exam_invigilator)) {
        $('#exam_invigilator').html()
        $('#exam_invigilator_error').show().delay(3000).slideUp()
        $('#exam_invigilator_error').html('Please select exam invigilator ')
        $('#exam_invigilator').focus()
        return false
      }
      if (IsValid(exam_roomno)) {
        $('#exam_roomno').html()
        $('#exam_roomno_error').show().delay(3000).slideUp()
        $('#exam_roomno_error').html('Please enter room number')
        $('#exam_roomno').focus()
        return false
      } else {
        return true
      }
    }
    function editrow(itemNo){

      var result=classlist.find(item => item.itemno === itemNo)
      const index = classlist.findIndex(item => item.itemno === itemNo);
  
  
      $('#addbtn').addClass('d-none')
      $('#updatedraftBtn').removeClass('d-none')
  
      itemtobechange=itemNo



      $('#exam_class').val(result.ClassId).trigger('change')
      $('#exam_invigilator').val(result.InvigilatorId).trigger('change')
      $('#exam_roomno').val(result.RoomNo)


  
  
  
    };
    function get_marks(){
      var exam_type = $('#exam_type').val()
      var fd = new FormData()
      fd.append('id', exam_type)


      fd.append('csrfmiddlewaretoken', '{{csrf_token}}')
      $.ajax({
        type: 'POST',
        url: frontend_url + 'exam/get_marks_by_exam_type',
        data: fd,
        processData: false,
        contentType: false,
  
        success: function (response) {
       
          if (response.response.n == 1) {
            $("#exam_passingmarks").val(' ');


            var options=''

              options += `<option value="">Please Select Marks</option>`;
              $.each(response.data, function(index, value){  
                options += `<option value="` + value.Marks + `" passingMarks="`+value.passingmarks+`">` + value.Marks + `</option>`;           
              });
              $("#exam_totalmarks").html(options);
              

          } else {
            Swal.fire({
              text: response.response.msg,
              icon: 'error'
            })
          }
        }
      }) 
    }
  //
const realFileBtn = document.getElementById("myfile");
const customBtn = document.getElementById("fileName");
const customTxt = document.getElementById("custom-text");

customBtn.addEventListener("click", function() {
  realFileBtn.click();
});

realFileBtn.addEventListener("change", function() {
  if (realFileBtn.value) {
    customTxt.innerHTML = realFileBtn.value.match(
      /[\/\\]([\w\d\s\.\-\(\)]+)$/
    )[1];
  } else {
    customTxt.innerHTML = "No file chosen, yet.";
  }
});

$('#myfile').bind('change', function () {
  var filename = $("#myfile").val();
  var validExtensions = ['xls', 'xlsx']; // Array of valid extensions
  var fileExtension = filename.split('.').pop().toLowerCase(); // Get the file extension

  if (/^\s*$/.test(filename)) {
    $(".file-upload").removeClass('active');
    $("#noFile").text("No file chosen...");
  } else if (validExtensions.indexOf(fileExtension) === -1) {
      $(".file-upload").removeClass('active');
      $("#noFile").text("Invalid file type. Please choose an Excel file.");
      $("#myfile").val(''); // Clear the file input
  } else {
      $(".file-upload").addClass('active');
      $("#noFile").text(filename.replace("C:\\fakepath\\", ""));
  }
});

function filevalidationexamschedule(){
debugger;
var file = $("#myfile")[0].files[0];
console.log("filefile",file)

if (file == "" || file == undefined) {
  event.preventDefault()
  Swal.fire({
    text: "choose file",
    icon: 'error',
  })
 
  return false;
}
else{
  t = 'Bearer {{token}}'
  var fd = new FormData();    
      fd.append("classfile",file);

      $.ajax({
        type: "POST",
        url: frontend_url+"api/MarksheetMaster/examscheduldatabyexcel",
        data: fd,
        headers:{'Authorization':t},
        processData: false,
        contentType: false,
        
        success: function(response) {
          if(response.response.n ==1){
            Swal.fire({
              text: response.response.msg,
              icon: 'success',
            }).then((result) => {
              window.location.href = "/exam/add_exam";
      
            });
          }else{
            Swal.fire({
              text: response.response.msg,
              icon: 'error',
            })
            exportToExcel(response.headers, response.data)
          }

    
        },
      });

}
}

function exportToExcel(headers, data) {
  var workbook = XLSX.utils.book_new();
  
  // Create worksheet
  var worksheet = XLSX.utils.aoa_to_sheet([]);

  // Add headers to the worksheet
  XLSX.utils.sheet_add_aoa(worksheet, [headers], { origin: "A1" });

  // Add data to the worksheet
  for (var i = 0; i < data.length; i++) {
    var rowData = Object.values(data[i]);
    XLSX.utils.sheet_add_aoa(worksheet, [rowData], { origin: "A" + (i + 2) });
  }

  XLSX.utils.book_append_sheet(workbook, worksheet, "Sheet1");
  var excelBuffer = XLSX.write(workbook, { bookType: 'xlsx', type: 'array' });
  
  // Convert buffer to a Blob
  var blob = new Blob([excelBuffer], { type: 'application/vnd.openxmlformats-officedocument.spreadsheetml.sheet' });
  
  // Save the file using FileSaver.js
  saveAs(blob, "failed_examschedule.xlsx");
}


  </script>
{% endblock %}
