{% extends 'index.html' %}
{% load static %}
{% block head %}

{% endblock %}

{% block heading %}
  <span class="tab-title"><span class="px-1">Exam</span></span>
{% endblock %}

{% block body %}
  <div class="card">
    <div class="card-body">
      <h5 class="card-title fw-semibold mb-4">Edit Exam</h5>
      <div class="card">
        <div class="card-body">
          <form>
            <div class="row">
              <div class="mb-3 col-lg-4">
                <label for="exam_academic" class="form-label">Academic Year <span class="text-danger">*</span> </label>
                <select id="exam_academic" class="form-select select2" aria-describedby="exam_academic_error">
                  <option value="" selected>Please select academic</option>
                  {% for academic in academics %}
                    {% if exam.AcademicYearId == academic.id  %}
                      <option value="{{ academic.id }}" selected>{{academic.startdate_month_yyyy}} to {{academic.enddate_month_yyyy}}</option>
                    {% else %}
                      <option value="{{ academic.id }}">{{academic.startdate_month_yyyy}} to {{academic.enddate_month_yyyy}}</option>

                    {% endif %}

                  {% endfor %}
                </select>
                <div id="exam_academic_error" class="form-text error_message"></div>
              </div>

              <div class="mb-3 col-lg-4">
                <label for="exam_name" class="form-label">Exam  <span class="text-danger">*</span> </label>
                <select id="exam_name" class="form-select select2" aria-describedby="exam_name_error">
                  <option value="" selected>Please select Exam</option>
                  {% for e in exams %}
                    {% if e.id == exam.exam %}

                    <option value="{{ e.id }}" selected>{{ e.Name }}</option>
                    {% else %}
                    <option value="{{ e.id }}">{{ e.Name }}</option>

                    {%endif%}
                  {% endfor %}
                </select>
                <div id="exam_name_error" class="form-text error_message"></div>
              </div>

              <div class="mb-3 col-lg-4">
                <label for="exam_type" class="form-label">Paper Type <span class="text-danger">*</span> </label>
                <select id="exam_type" class="form-select select2" aria-describedby="exam_type_error" onchange="get_marks()">
                  <option value="" selected>Please select type</option>
                  {% for type in exam_types %}
                    {% if type.id == exam.ExamType  %}

                    <option value="{{ type.id }}" selected>{{ type.TypeName }}</option>
                    {% else %}
                    <option value="{{ type.id }}">{{ type.TypeName }}</option>
                    {%endif%}
                  {% endfor %}
                </select>
                <div id="exam_type_error" class="form-text error_message"></div>
              </div>
              <div class="mb-3 col-lg-4">
                <label for="exam_totalmarks" class="form-label">Exam Total Marks <span class="text-danger">*</span> </label>
                
                <select id="exam_totalmarks" class="form-select select2" aria-describedby="exam_totalmarks_error" >
                  <option value="{{ exam.totalMarks }}" passingmarks="{{exam.passingmarks}}" selected>{{ exam.totalMarks }}</option>

                </select>
                
                <div id="exam_totalmarks_error" class="form-text error_message"></div>
              </div>

              <div class="mb-3 col-lg-4">
                <label for="exam_passingmarks" class="form-label">Passing Marks<span class="text-danger">*</span> </label>
                <input type="text" class="form-control" value="{{exam.passingmarks}}" id="exam_passingmarks" placeholder="Please enter passing marks" aria-describedby="exam_passingmarks_error"  readonly/>
                <div id="exam_passingmarks_error" class="form-text error_message"></div>
              </div>









              <div class="mb-3 col-lg-4">
                <label for="exam_starttime" class="form-label">Exam Start Time <span class="text-danger">*</span> </label>
                <input type="time" class="form-control" id="exam_starttime" value="{{exam.Examstarttime}}" placeholder="Please enter starttime" aria-describedby="exam_starttime_error"  />
                <div id="exam_starttime_error" class="form-text error_message"></div>
              </div>
              <div class="mb-3 col-lg-4">
                <label for="exam_endtime" class="form-label">Exam End Time <span class="text-danger">*</span> </label>
                <input type="time" class="form-control" id="exam_endtime" value="{{exam.Examendtime}}" placeholder="Please enter endtime" aria-describedby="exam_endtime_error"  />
                <div id="exam_endtime_error" class="form-text error_message"></div>
              </div>


              <div class="mb-3 col-lg-4">
                <label for="exam_reporttime" class="form-label">Exam Report Time <span class="text-danger">*</span> </label>
                <input type="time" class="form-control" id="exam_reporttime" value="{{exam.reportTime}}"  placeholder="Please enter report time" aria-describedby="exam_reporttime_error"  />
                <div id="exam_reporttime_error" class="form-text error_message"></div>
              </div>
              <div class="mb-3 col-lg-4">
                <label for="exam_date" class="form-label">Date <span class="text-danger">*</span> </label>
                <input type="text" class="form-control date_picker" value="{{exam.Date}}" id="exam_date" placeholder="Please select date" aria-describedby="exam_date_error" readonly />
                <div id="exam_date_error" class="form-text error_message"></div>
              </div>

              <div class="mb-3 col-lg-4">
                <label for="exam_subject" class="form-label">Subject <span class="text-danger">*</span> </label>
                <select id="exam_subject" class="form-select select2" aria-describedby="exam_subject_error">
                  <option value="" selected>Please select subject</option>
                  {% for subject in subjects %}
                    {% if exam.SubjectId == subject.id  %}
                    <option value="{{ subject.id }}" selected>{{ subject.SubjectName }}</option>
                  {% else %}
                    <option value="{{ subject.id }}">{{ subject.SubjectName }}</option>

                  {% endif %}


                  {% endfor %}
                </select>
                <div id="exam_subject_error" class="form-text error_message"></div>
              </div>


              <div class="mb-3 col-lg-4">
                <label for="exam_class" class="form-label">Class <span class="text-danger">*</span> </label>
                <select id="exam_class" class="form-select select2" aria-describedby="exam_class_error">
                  <option value="" selected>Please select class</option>
                  {% for class in classes %}
                    {% if exam.ClassId == class.id  %}
                    <option value="{{ class.id }}" selected>{{ class.ClassName }}</option>
                  {% else %}
                  <option value="{{ class.id }}">{{ class.ClassName }}</option>

                  {% endif %}


                  {% endfor %}
                </select>
                <div id="exam_class_error" class="form-text error_message"></div>
              </div>
              <div class="mb-3 col-lg-4">
                <label for="exam_invigilator" class="form-label">Exam Invigilator <span class="text-danger">*</span> </label>
                <select id="exam_invigilator" class="form-select select2" aria-describedby="exam_invigilator_error">
                  <option value="" selected>Please select invigilator</option>
                  {% for Invigilator in teachers %}

                    {% if exam.InvigilatorId == Invigilator.id  %}
                    <option value="{{ Invigilator.id }}" selected>{{ Invigilator.Username }}</option>
                  {% else %}
                  <option value="{{ Invigilator.id }}">{{ Invigilator.Username }}</option>

                  {% endif %}
                  {% endfor %}
                </select>
                <div id="exam_invigilator_error" class="form-text error_message"></div>
              </div>

              <div class="mb-3 col-lg-4">
                <label for="exam_roomno" class="form-label">Exam Room No <span class="text-danger">*</span> </label>
                <input type="text" class="form-control" id="exam_roomno" value="{{exam.RoomNo}}" placeholder="Please enter room no" aria-describedby="exam_roomno_error"  />
                <div id="exam_roomno_error" class="form-text error_message"></div>
              </div>



              <div class="mb-3 col-lg-12">
                <label for="exam_instruction" class="form-label">Exam Instruction <span class="text-danger">*</span> </label>
                <textarea class="form-control" name="exam_instruction" id="exam_instruction" cols="30" rows="5" aria-describedby="exam_instruction_error">{{exam.Instructions}}</textarea>
                <div id="exam_instruction_error" class="form-text error_message"></div>
              </div>





            </div>

            <div class="row">
              <div class="d-flex justify-content-center">
                <a class="btn btn-primary" onclick="validate_form('{{exam.id}}');">Submit</a>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block script %}
  <script>
    var classlist = [] // Array to store classlist
    var rowno = 1 //  number counter
    var itemtobechange = ''
    
    $(document).ready(function () {

      $('#exam_totalmarks').on('change', function() {
        var selectedOption = $(this).find('option:selected');
        var totalMarks = selectedOption.val();
        var passingMarks = selectedOption.attr('passingmarks');

        console.log('Total Marks:', totalMarks);
        console.log('Passing Marks:', passingMarks);
        $('#exam_passingmarks').val(passingMarks)
        // Display the values in a div
      });
    })

    function validate_form(id) {
      debugger
      var exam_type = $('#exam_type').val()
      var exam_name = $('#exam_name').val()
      var exam_totalmarks = $('#exam_totalmarks').val()
      var exam_passingmarks = $('#exam_passingmarks').val()
      var exam_academic = $('#exam_academic').val()
      var exam_starttime = $('#exam_starttime').val()
      var exam_endtime = $('#exam_endtime').val()
      var exam_reporttime = $('#exam_reporttime').val()
      var exam_date = $('#exam_date').val()
      var exam_subject = $('#exam_subject').val()
      var exam_instruction = $('#exam_instruction').val()
      var exam_class = $('#exam_class').val()
      var exam_invigilator = $('#exam_invigilator').val()
      var exam_roomno = $('#exam_roomno').val()
      if (IsValid(exam_academic)) {
        $('#exam_academic').html()
        $('#exam_academic_error').show().delay(3000).slideUp()
        $('#exam_academic_error').html('Please select exam academic')
        $('#exam_academic').focus()
        return false
      }
      if (IsValid(exam_name)) {
        $('#exam_name').html()
        $('#exam_name_error').show().delay(3000).slideUp()
        $('#exam_name_error').html('Please select exam name')
        $('#exam_name').focus()
        return false
      }
      if (IsValid(exam_type)) {
        $('#exam_type').html()
        $('#exam_type_error').show().delay(3000).slideUp()
        $('#exam_type_error').html('Please select exam type')
        $('#exam_type').focus()
        return false
      }
      if (IsValid(exam_totalmarks)) {
        $('#exam_totalmarks').html()
        $('#exam_totalmarks_error').show().delay(3000).slideUp()
        $('#exam_totalmarks_error').html('Please add exam total marks')
        $('#exam_totalmarks').focus()
        return false
      }
      if (IsValid(exam_passingmarks)) {
        $('#exam_passingmarks').html()
        $('#exam_passingmarks_error').show().delay(3000).slideUp()
        $('#exam_passingmarks_error').html('Please add exam passing marks')
        $('#exam_passingmarks').focus()
        return false
      }
      if (IsValid(exam_starttime)) {
        $('#exam_starttime').html()
        $('#exam_starttime_error').show().delay(3000).slideUp()
        $('#exam_starttime_error').html('Please select exam start time')
        $('#exam_starttime').focus()
        return false
      }
      if (IsValid(exam_endtime)) {
        $('#exam_endtime').html()
        $('#exam_endtime_error').show().delay(3000).slideUp()
        $('#exam_endtime_error').html('Please select exam end time')
        $('#exam_endtime').focus()
        return false
      }
      if (IsValid(exam_reporttime)) {
        $('#exam_reporttime').html()
        $('#exam_reporttime_error').show().delay(3000).slideUp()
        $('#exam_reporttime_error').html('Please select exam reporting time')
        $('#exam_reporttime').focus()
        return false
      }
      if (IsValid(exam_date)) {
        $('#exam_date').html()
        $('#exam_date_error').show().delay(3000).slideUp()
        $('#exam_date_error').html('Please enter exam date')
        $('#exam_date').focus()
        return false
      }
      if (IsValid(exam_subject)) {
        $('#exam_subject').html()
        $('#exam_subject_error').show().delay(3000).slideUp()
        $('#exam_subject_error').html('Please select exam subject')
        $('#exam_subject').focus()
        return false
      }

      if (IsValid(exam_class)) {
        $('#exam_class').html()
        $('#exam_class_error').show().delay(3000).slideUp()
        $('#exam_class_error').html('Please select class')
        $('#exam_class').focus()
        return false
      }
      if (IsValid(exam_invigilator)) {
        $('#exam_invigilator').html()
        $('#exam_invigilator_error').show().delay(3000).slideUp()
        $('#exam_invigilator_error').html('Please select exam invigilator ')
        $('#exam_invigilator').focus()
        return false
      }
      if (IsValid(exam_roomno)) {
        $('#exam_roomno').html()
        $('#exam_roomno_error').show().delay(3000).slideUp()
        $('#exam_roomno_error').html('Please enter room number')
        $('#exam_roomno').focus()
        return false
      }

      if (IsValid(exam_instruction)) {
        $('#exam_instruction').html()
        $('#exam_instruction_error').show().delay(3000).slideUp()
        $('#exam_instruction_error').html('Please enter exam instruction ')
        $('#exam_instruction').focus()
        return false
      }
      
      else {
        var fd = new FormData()
    
        fd.append('Date', yyyy_mm_dd(exam_date))
        fd.append('Examstarttime', exam_starttime)
        fd.append('Examendtime', exam_endtime)
        fd.append('SubjectId', exam_subject)
        fd.append('ExamType', exam_type)
        fd.append('totalMarks', exam_totalmarks)
        fd.append('passingmarks', exam_passingmarks)
        fd.append('reportTime', exam_reporttime)
        fd.append('Instructions', exam_instruction)
        fd.append('ClassId', exam_class)
        fd.append('InvigilatorId', exam_invigilator)
        fd.append('RoomNo', exam_roomno)
        fd.append('exam', exam_name)
        fd.append('AcademicYearId', exam_academic)
  
        fd.append('csrfmiddlewaretoken', '{{csrf_token}}')

        
        $.ajax({
          type: 'POST',
          url: frontend_url + 'exam/edit_exam/'+id,
          data: fd,
          processData: false,
          contentType: false,
    
          success: function (response) {
            if (response.response.n == 1) {
              Swal.fire({
                text: response.response.msg,
                icon: 'success'
              }).then((result) => {
                window.location.href = '/exam'
              })
            } else {
              Swal.fire({
                text: response.response.msg,
                icon: 'error'
              })
            }
          }
        })
      }
    }

    function get_marks(){
      var exam_type = $('#exam_type').val()
      var fd = new FormData()
      fd.append('id', exam_type)


      fd.append('csrfmiddlewaretoken', '{{csrf_token}}')
      $.ajax({
        type: 'POST',
        url: frontend_url + 'exam/get_marks_by_exam_type',
        data: fd,
        processData: false,
        contentType: false,
  
        success: function (response) {
          console.log("ExamTypMarkseobj",response)
          if (response.response.n == 1) {
            $("#exam_passingmarks").val(' ');


            var options=''

              options += `<option value="">Please Select Marks</option>`;
              $.each(response.data, function(index, value){  
                options += `<option value="` + value.Marks + `" passingmarks="`+value.passingmarks+`">` + value.Marks + `</option>`;           
              });
              $("#exam_totalmarks").html(options);


          } else {
            Swal.fire({
              text: response.response.msg,
              icon: 'error'
            })
          }
        }
      }) 
    }
  </script>
{% endblock %}
