{% extends 'index.html' %}
{% load static %}
{% block head %}
<link rel="stylesheet" href="https://fullcalendar.io/css/base.css?3.4.0-1.6.2-3">
<link rel="stylesheet" href="https://fullcalendar.io/js/fullcalendar-3.4.0/fullcalendar.min.css">
<link rel="stylesheet" href="{% static 'css/academic_calender.css' %}"  />

{% endblock %}

{% block heading %}
  <span class="tab-title"><span class="px-1">Academic Calender</span></span>
{% endblock %}

{% block body %}
<div id='calendar'></div>

{% endblock %}

{% block script %}
<script src="https://rawgit.com/unconditional/jquery-table2excel/master/src/jquery.table2excel.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twbs-pagination/1.4.1/jquery.twbsPagination.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.9.0/moment.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script src="{% static 'js/academic_calender.js' %}"></script>

{% endblock %}
