{% extends 'index.html' %}
{% load static %}

{% block heading %}
  <span class="tab-title"><span class="px-1">Profile</span></span>
{% endblock %}
{% block head %}
  <link src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css" />
  <link src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.css" />
  <style>


    .file-upload {
      display: none;
    }
    label {
      display: block;
      font-size: 14px;
      font-weight: 500;
      color: #00b0ef;
    }

    

    .profilecard {
        background-color: #b9b9b910;
        padding: 10px;
        position: relative;

        --bs-card-border-width: var(--bs-border-width);
        --bs-card-border-color: var(--bs-border-color-translucent);
        --bs-card-border-radius: var(--bs-border-radius);
        border: var(--bs-card-border-width) solid var(--bs-card-border-color);
        border-radius: var(--bs-card-border-radius);


      }
      .proheading {
        font-weight: 500;
        font-size: 18px;
        margin-bottom: 10px;
      }
      .upload-button {
        position: absolute;
        left: 60%;
        cursor: pointer;
        font-size: 21px;
        top: 66%;
      }
      .username {
        color: black;
        font-weight: 500;
      }
      .profile-pic{
        border-radius: 50%;
        width:150px;
        height:150px;

      }
  </style>
{% endblock %}
{% block body %}
  <!-- Main page -> Manage Task -->
  <main class="main-wrapper">
    <!-- ==================Row1======================= -->
    <div class="common-box-section">
      <div id="snackbar"></div>

      <div class="row pt-3">
        <div class="col-xl-3">
          <!-- Profile picture card -->
          <div class="profilecard mb-1">
            <div class="proheading d-none">My Profile</div>
            <div class="py-2 text-center">
              <label for="profileimage" >
                <div class="mb-2">


                  {% if profile_image is not None and profile_image != "" %}
                    <img id="idProofPreview" class="profile-pic" width="150" height="150" src="{{profile_image}}" alt="" />

                  {% else %}
                    <img id="idProofPreview" class="profile-pic" width="150" height="150" src="{% static 'assets/images/profile/profile.png' %}" alt="" />
                  {% endif %}


                </div>

                <div class="p-image">
                  <i class="fa fa-camera upload-button text-black"></i>
                  <input data-file_types="jpg|jpeg|png|ico|bmp" name="photo" id="profileimage" type="file" class="file-upload" onchange="validateImage(this,'idProofPreview');" />
                </div>

                <div class="mb-1 username">{{username}}</div>
                <div class="small font-italic text-muted mb-2"></div>
              </label>
            </div>
          </div>
        </div>

        <div class="col-xl-9 px-0">
          <!-- Account details card -->
          <div class="tab-content" id="v-pills-tabContent">
            <div class="tab-pane fade shadow rounded bg-white show active" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab">
              <div class="main-card">
                <div class="p-3">
                  <div class="row mb-3">


                    <div class="mb-3 col-lg-4">
                      <label for="name" class="form-label"> Name</label>
                      <input type="text" class="form-control" id="name" aria-describedby="name_error" value="{{username|default:''}}" placeholder="Enter First Name" readonly/>
                      <div id="name_error" class="form-text error_message"></div>
                    </div>


                      
                      <div class="mb-3 col-lg-4">
                        <label for="phone_number" class="form-label">Phone Number</label>
                        <input type="text" maxlength="10"  class="form-control" id="phone_number" aria-describedby="phone_number_error"  value="{{mobileNumber|default:''}}" placeholder="Enter Phone Name" oninput="this.value = this.value.replace(/[^0-9 ]+/g,'').replace(/(\..*)\./g, '$1');" />
                        <div id="phone_number_error" class="form-text error_message"></div>
                      </div>
                      <div class="mb-3 col-lg-4">
                        <label for="email" class="form-label"> Email</label>
                        <input type="text" class="form-control" id="email" aria-describedby="email_error" placeholder="Enter Official Email"  value="{{email|default:''}}" readonly/>
                        <div id="email_error" class="form-text error_message"></div>
                      </div>






                      <div class="mb-3 col-lg-8">

                      </div>

                      <div class="mb-3 col-lg-12">
                        <label for="permanaent_addressline1" class="form-label">Address</label>
                        <textarea class="form-control" name="address" id="address" rows="10">{{Address|default:''}}</textarea>
                        <div id="permanaent_addressline1_error" class="form-text error_message"></div>
                      </div>







  



                  </div>

                  <div class="row">
                    <div class="submitbutton d-flex justify-content-center">
                      <span onclick="update_profile();" class="btn btn-primary">Submit</span>
                    </div> 
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
{% endblock %}

{% block script %}
  <script>

    function update_profile(){
      debugger
      
      var phone_number = $("#phone_number").val();
      var address = $("#address").val();
      var profileimage = $("#profileimage")[0].files[0];

      if(mobile_validate('phone_number') == false){
        $('#phone_number').html();
        $('#phone_number_error').show().delay(3000).slideUp();
        $('#phone_number_error').html('Please enter valid phone number ');
        $('#phone_number').focus();
        return false;
      }


      if(IsValid(address)){
        $('#address').html();
        $('#address_error').show().delay(3000).slideUp();
        $('#address_error').html('Please enter valid address ');
        $('#address').focus();
        return false;
      }      
      var fd = new FormData();    
      fd.append("mobileNumber",phone_number);
      fd.append("Address",address);

      if (profileimage == "" || profileimage == undefined) {
        fd.append("empty",'');
      }else{
        fd.append("photo",profileimage);
      }



      
      fd.append("csrfmiddlewaretoken","{{csrf_token}}");
      $.ajax({
        type: "POST",
        url: frontend_url+"user/update_profile",
        data: fd,
        processData: false,
        contentType: false,
        
        success: function(response) {
          if(response.response.n ==1){
            Swal.fire({
              text: response.response.msg,
              icon: 'success',
            }).then((result) => {
              window.location.href = "/user/profile";
      
            });
          }else{
            Swal.fire({
              text: response.response.msg,
              icon: 'error',
            })
          }

    
        },
      });
    }
    function validateImage(input, preview) {
      debugger;
      var maxSizeMB = 2;
      var allowedExtensions = ["jpg", "jpeg", "png"];
    
      var file = input.files[0];
    
      if (!file) {
        console.error("No file selected.");
        return;
      }
    
      var fileName = file.name.toLowerCase();
      var fileExtension = fileName.split(".").pop();
    
      if ($.inArray(fileExtension, allowedExtensions) === -1) {
        showError("Invalid file type. Allowed types are: " + allowedExtensions.join(", "));
        clearInputAndPreview(input, preview);
        return;
      }
    
      var reader = new FileReader();
      reader.readAsDataURL(file);
      reader.onload = function (evt) {
          var base64 = evt.target.result;
          $("#"+preview).attr('base64',base64)
      }
      if (fileExtension === "pdf") {
        displayPdfPreview(file, preview);
      } else {
        displayImagePreview(file, preview);
      }
    }
    function displayPdfPreview(file, preview) {
  
      var iframeElement = $('<iframe>');
    
      var fileUrl = URL.createObjectURL(file);
      iframeElement.attr('src', fileUrl);
    
      replacePreviewWithElement(preview, iframeElement);
    }
    function displayImagePreview(file, preview) {
      var reader = new FileReader();
    
      reader.onload = function (e) {
        var imageElement = $('<img>');
        imageElement.attr('src', e.target.result);
        imageElement.attr('base64',e.target.result)
  
  
        replacePreviewWithElement(preview, imageElement);
      };
    
      reader.onerror = function (e) {
        console.error("Error reading file:", e);
      };
    
      reader.readAsDataURL(file);
    }
    function replacePreviewWithElement(preview, newElement) {
      var existingPreview = $("#" + preview);
      newElement.attr('id', existingPreview.attr('id'));
      newElement.attr('alt', existingPreview.attr('alt'));
      newElement.attr('class', existingPreview.attr('class'));
      
      existingPreview.replaceWith(newElement);
    }
    function clearInputAndPreview(input, preview) {
      $(input).val("");
      $("#" + preview).attr("src", "");
    }
    function showError(message) {
      Swal.fire({
        icon: "error",
        title: "",
        text: message,
        timer: 2000,
      });
    }
  </script>
{% endblock %}
